<h1 mat-dialog-title>Termék szerkeztése</h1>
<!--<div mat-dialog-content>

  <form [formGroup]="popUpForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-sm-4">
        Place for picture.
      </div>

      <div class="col-sm-8">
        <div class="row">
          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="categoryModel">Kategória</mat-label>
            <mat-select formControlName="categoryModelId">
              <mat-option *ngFor="let item of categoryList" value="{{item.id}}">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="singlePrice">Ár</mat-label>
            <input matInput type="number" formControlName="singlePrice" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="name">Név</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="locationModel">Hely</mat-label>
            <mat-select formControlName="locationModelId">
              <mat-option *ngFor="let item of locationList" value="{{item.id}}">{{item.city}} {{item.district}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="conditionModel">Állapot</mat-label>
            <mat-select formControlName="conditionModelId">
              <mat-option *ngFor="let item of conditionList" value="{{item.id}}">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="postedAt">Feladás ideje</mat-label>
            <input matInput readonly [matDatepicker]="postedAt" formControlName="postedAt" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="userName">Hírdető</mat-label>
            <input matInput readonly type="text" formControlName="userName" />
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="delivery">Szállítás</mat-label>
            <input matInput readonly type="text" formControlName="delivery" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="unitNumber">Mennyiség</mat-label>
            <input matInput type="number" formControlName="unitNumber" />
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="discount">Engedmény</mat-label>
            <input matInput type="number" formControlName="discount" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard" class="col-md-6">
            <mat-label for="age">Age</mat-label>
            <input matInput type="text" formControlName="age" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col-md-12">
            <mat-label for="description">Leírás</mat-label>
            <textarea matInput type="text" formControlName="description" cdkAutosizeMinRows="3"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button class="orange-button" (click)="onSubmit()">Mentés</button>
  <button mat-button mat-dialog-close>Mégse</button>
</div>-->

