<div class="col-md-6 offset-md-3 mt-5">
  <mat-card class="mat-elevation-z20">
    <button mat-icon-button class="close-button" (click)="onCancel()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title class="magenta">ELFELEJTETT JELSZÓ</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="standard" class="col-md-12">
          <mat-label for="email">Email*</mat-label>
          <input matInput type="email" formControlName="email" name="email" ngModel email="true" />
        </mat-form-field>
      </form>
      <br />
      <br />

      <mat-card-actions align="right" style="padding: 25px;">

        <button mat-raised-button class="orange-button" [disabled]="loading" (click)="onSubmit()">
          <!--<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
          Küldés
        </button>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
