<div class="contianer">
  <div class="row">
    <div class="col-12">
      <div class="col-12">
        <h3>Footer Manager</h3>
      </div>
    </div>
  </div>

  <div class="row mt-2 justify-content-center">
    <div class="col-11">
      <div class="row">


        <div class="col-md-4 col-12">
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="selectedFooter" name="footer">
              <mat-option *ngFor="let f of footers" [value]="f?.id">{{ f?.text }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-12">
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput [(ngModel)]="footerText">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-12">
          <button mat-raised-button color="primary">Update</button>
        </div>

      </div>
    </div>
  </div>
</div>
