<div mat-dialog-content class="row">
  <mat-card class="reader_width">

    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <!--impressum-->
    <div *ngIf="data == 'impressum'">
      <mat-card-header>
        <mat-card-title class="magenta" style="font-size: x-large;">IMPRESSZUM</mat-card-title>
      </mat-card-header>

      <mat-card-content [formGroup]="popUpForm">
        <p>Szolgáltató neve:  Chikán Ildikó</p>
        <p>Cím: Ybbsstraße 25, 1020 Bécs, Ausztria</p>
        <p>Telefon: +36 30 83 13 755</p>
        <p>E-mail: kapcsolat@bartermester.com</p>
        <p>Webcím: bartermester.com</p>
        <p>Fejlesztő cég: Bots2Work Ltd.</p>
        <p>Tárhely szolgáltató: ASPHOSTPORTAL</p>
        <mat-card-actions align="right">
          <button mat-button mat-dialog-close>Bezár</button>
        </mat-card-actions>
      </mat-card-content>
    </div>

    <!--copyright-->
    <div *ngIf="data == 'copyright'">
      <mat-card-header>
        <mat-card-title class="magenta" style="font-size: x-large;">SZERZŐI JOGOK</mat-card-title>
      </mat-card-header>

      <mat-card-content [formGroup]="popUpForm">
        <p>A Bartermester.com weboldalon megjelenő összes tartalom a szerző és üzemeltető Chikán Ildikó szellemi tulajdona.</p>
        <p>Az oldal egyedileg alakított designjának minden részlete szerzői jogvédelem alatt áll.</p>
        <mat-card-actions align="right">
          <button mat-button mat-dialog-close>Bezár</button>
        </mat-card-actions>
      </mat-card-content>
    </div>

    <!--termsofuse-->
    <div *ngIf="data == 'termsofuse'">
      <mat-card-header>
        <mat-card-title class="magenta" style="font-size: x-large;">FELHASZNÁLÁSI FELTÉTELEK</mat-card-title>
      </mat-card-header>

      <mat-card-content [formGroup]="popUpForm">
        <h3>
          A BARTERMESTER FELHASZNÁLÁSI FELTÉTELEI
        </h3>
        <h4>I.	A bartermester.com weboldal</h4>
        <p>
          1. A BARTERMESTER.COM (a továbbiakban: Weboldal) egy olyan, Chikán Ildikó, Ybbstrasse 25, 1020 Bécs, Ausztria (a továbbiakban: Szolgáltató) által üzemeltetett meghívásos alapon működő közösségi platform, ahol a tagok a Weboldal piacterének felületén a számukra már nem szükséges, vagy megunt dolgaikat kizárólag a Weboldalon felhasználható pontokra, Bartekekre (Brtk) váltva kizárólag a BARTERMESTER.COM Weboldalon felhasználva azt a többi tag Felhasználó által a Weboldalra feltett termék(ek)re elcserél(het)ik.
          <br />
          2. A jelen felhasználási feltételek (a továbbiakban: Szabályzat) a bartermester.com internetes lapon elérhető információs társadalommal összefüggő és kapcsolódó szolgáltatások (a továbbiakban: Szolgáltatás) igénybevételének és a Weboldal használatának feltételeit tartalmazzák, mely feltételek a Weboldal valamennyi használója számára kötelezőek.
        </p>
        <h4>II.	A Felhasználó, a Szolgáltatás</h4>
        <p>
          1. A Szolgáltató ingyenes hirdetési helyet biztosít Felhasználói részére termékeik hirdetésére, illetve a hirdetéshez és hirdetések böngészéséhez kapcsolódó egyéb szolgáltatásokat nyújt a Weboldalon. A Szabályzat szempontjából Felhasználó minden olyan személy, aki megtekinti a Weboldalt, vagy aki hirdetést helyez el a Weboldalon, aki terméket kínál cserére, vagy aki termék elcserélésére ajánlatot tesz, azaz hirdetésre jelentkezik (a továbbiakban: Felhasználó).
          <br />
          2. A Weboldal mint adatbázis előállítója a Szolgáltató, így kizárólag a Szolgáltató rendelkezik engedéllyel az adatbázis felhasználására, valamint arra, hogy harmadik személynek az adatbázis tekintetében felhasználási engedélyt adjon. A Szolgáltató nem engedélyezi az általa előállított adatbázis egészének vagy annak bármely részének más weboldalon, vagy bármely egyéb módon így például az adatbázisból történő kereskedelmi célú adatgyűjtés („screenscraping”) történő felhasználását.
          <br />
          3. A Weboldal szolgáltatásait kizárólag cselekvőképes természetes személy és gazdálkodó szervezet Felhasználó veheti igénybe. A Szolgáltatás igénybevételével, így különösen, de nem kizárólagosan a Weboldalra szóló meghívó elfogadásával, illetve a Szolgáltatás megrendelésével a Felhasználó elismeri, hogy teljes cselekvőképességgel és jogképességgel rendelkező természetes személy, vagy olyan gazdálkodó szervezet, amely képviseletére jogosult képviselője által jár el, valós és helyes adatok megadásával.
          <br />
          4. A Felhasználó a Weboldalra vonatkozó meghívó elfogadásával, illetve a Weboldal használatának megkezdésével elfogadja és magára nézve kötelezőnek ismeri el a jelen Szabályzatot és kötelezettséget vállal a Szabályzat betartására. A Weboldalt minden Felhasználó kizárólag a saját kockázatára és felelősségére használhatja. A Szolgáltató bármikor, diszkrecionális módon jogosult a Szabályzat módosítására. A Szabályzat hatályos változatát a Szolgáltató mindenkor a Weblapon teszi közzé, a Felhasználóra mindig a Weblapon aktuálisan közzétett hatályos Szabályzat rendelkezései a kötelezők.
          <br />
          5. A Felhasználó a Weboldal használatával kifejezetten tudomásul veszi, hogy a Szolgáltató a Felhasználó által megadott személyes adatokat és a Weboldal használata során begyűjtött felhasználói adatokat a Weboldal használatához szükséges elengedhetetlen mértékben és célból és az Adatvédelmi Tájékoztatóban meghatározott módon kezeli.
          <br />
          6. A Szolgáltatások vonatkozásában a Felhasználó és a Szolgáltató között kizárólag online és kizárólag a termékek elcseréléséhez szükséges hirdetési felület biztosítására vonatkozó szerződés jön létre, amely nem minősül írásbeli szerződésnek. A szerződéskötés nyelve kizárólag a magyar. Az online szerződést a Szolgáltató nem rögzíti, így az a szerződéskötést követően nem érhető el. Az online szerződés létrejöttét az elektronikusan elmentett adatok igazolják, a Szolgáltató a Weboldalra feltöltött tartalmat archiválni nem köteles.
          <br />
          7. A Felhasználók korlátlan számú hirdetést tölthetnek fel és szerkeszthetnek díjtalanul a Szabályzatban foglalt feltételekkel. A csere tárgyát rövid leírással szükséges részletesen ismertetni. Tilos másik aukciós vagy hirdetési oldalra mutató linket elhelyezni a hirdetésben. A Weboldalon megjelenő hirdetéseknek magyar nyelvű változatot tartalmazniuk kell. A hirdetésben szereplő képeknek a hirdetett termékre kell vonatkozniuk. Más személyek védjegyével, logójával, emblémájával, nevével, vízjelével ellátott képek nem csatolhatók a hirdetéshez. A Szolgáltató jogosult a képet logójával ellátni. Más Felhasználók képeit beleegyezésük nélkül tilos használni. Ugyanez vonatkozik az Internetről letöltött katalógusképekre is, melyeket csak abban az esetben lehet használni, ha maga a Felhasználó rendelkezik a szerzői jogokkal.
          <br />
          8. A Szabályzatnak megfelelő felhasználói ajánlattételben foglalt hirdetéseket a Szolgáltató a feladásra szolgáló gomb Felhasználó által történő használatát követően a lehető legrövidebb időn, legfeljebb 48 órán belül közzéteszi.
          <br />
          9. A törlésre vonatkozó funkció használatával a hirdetés azonnal törlésre kerül.
          <br />
          10. Amennyiben a Szolgáltató észleli, hogy a Felhasználó a Weboldal üzenetküldő rendszerén folytatott kommunikációja nem felel meg a jelen Szabályzatnak, jogellenes, jó erkölcsbe ütközik, vagy egyébként a Szolgáltató megítélése szerint az nem kizárólag a feladott hirdetésekkel kapcsolatos kommunikációra terjed ki, vagy annak hangneme sértő, bántó, illetve uszító, a Szolgáltató jogosult a Felhasználó Weboldalhoz való hozzáférését korlátozni, illetve az ilyen tartalmú kommunikációt felfüggeszteni, annak a címzett részére történő kézbesítését meghiúsítani.
        </p>
        <h4>III.	A Szolgáltatás nyújtásának megtagadása</h4>
        <p>
          1. A Szolgáltató jogosult a Weboldalra feltöltött hirdetést egyoldalúan, haladéktalanul és indokolás nélkül eltávolítani, a Szolgáltatást megtagadni, végső soron a Felhasználó fiókját törölni, amennyiben a Weboldalra feltöltött tartalom a jelen Szabályzatba ütközik. A Szolgáltató a jogszabályban meghatározott határidőben intézkedik minden olyan hirdetés eltávolításáról, amelyre vonatkozóan az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről szóló a 2001. évi CVIII. törvény (Elkertv.) rendelkezéseinek megfelelően bejelentést kap. A Szolgáltató a vonatkozó és mindenkor hatályos jogszabályi keretek között működik együtt a hatóságokkal a jogsértést elkövető személyek felelősségre vonása érdekében. A Felhasználók a jogsértő információkkal kapcsolatos panaszaikat a BarterMester elérhetőségén (kapcsolat@bartermester.com) jelezhetik. Amennyiben azt észleli, hogy a szerzői jogi törvény által védett szerzői művén, előadásán, hangfelvételén, műsorán, audiovizuális művén, adatbázisán fennálló jogát, vagy védjegyét a Weboldalon megjelenő információ sérti, úgy az Elkertv. értelmében teljes bizonyító erejű magánokiratba vagy közokiratba foglalt értesítésével felhívhatja a Szolgáltatót a jogát sértő tartalmú információ eltávolítására.
          <br />
          2. A Weboldalra tilos a következő hirdetések feltöltése: jogszabályba ütközik, vagy jogellenes tevékenységet hirdet; bűncselekményt vagy szabálysértést valósít meg; jóerkölcsbe ütközik vagy sérti a vonatkozó etikai normákat (ideértve különösen a Magyar Reklámetikai Kódex normáit); jogellenes, vagy jogellenes magatartással kapcsolatos, vagy jó erkölcsbe ütköző cselekményre hív fel vagy arra buzdít; mások jogát vagy jogos érdekét sérti, így különösen, ha védjegyoltalomba ütközik, ha szellemi alkotáshoz fűződő jogok illetve egyéb szerzői és szomszédos, illetve személyhez fűződő jogok sérelmét okozza vagy okozhatja; megtévesztő információt tartalmaz vagy a Szolgáltató azt az általa képviselt etikai erkölcsi alapelvekkel ellentétesnek tartja, vagy a fentiek gyanúja felmerülhet.
          <br />
          3. A Weboldalon különösen az alábbi dolgok, termékek, szolgáltatások hirdetése tiltott:
          <br />
          o	Közbiztonságra fokozottan vagy különösen veszélyes eszközök, fegyverek, robbanószer, pirotechnikai anyagok, eszközök (tűzijáték), ilyen termékek alkatrésze, ideértve a fegyverviselési engedélyhez nem kötött eszközöket is (műtárgynak minősülő fegyverek, airsoft és paintball fegyverek, légpuska, légpisztoly, vipera, nundzsaku, sokkoló stb.), kivéve a rendeltetésszerűen a szokásos életvitelhez tartozó, háztartási és sport célok körében használt kés eszközöket (pl. konyhakés, búvárkés);
          <br />
          •	Aktiváló kódok, CD-kulcsok, az eredeti szoftvertől különválasztott regisztrációs számok;
          <br />
          o	Olyan weboldalak, FTP szerverek, vagy az azokra vezető út megjelölése, amelyek veszélyes, illegális vagy nem birtokolható anyagok létrehozását vagy az ilyen anyagokhoz való hozzáférést elősegítő információkat tartalmaznak;
          <br />
          o	On-line szolgáltatáshoz hozzáférést biztosító felhasználónevek, jelszavak, felhasználói fiókok adatai;
          <br />
          o	Közösségi oldalak, e-mail szolgáltatások igénybe vételére jogosító meghívók;
          <br />
          o	Kitöltetlen garancia-levelek, igazolványok, bizonyítvány- vagy igazolvány-érvényesítő címkék;
          <br />
          o	Diplomamunkák, szakdolgozatok, hitelkártya és bankkártya, értékpapír, vagy más, nem átruházható fizetési eszköz, kivéve, ha egyértelműen azonosítható módon fizetési funkcióval már nem rendelkezik és gyűjtési céllal kerül eladásra;
          <br />
          o	Alkohol, alkoholtartalmú italok;
          <br />
          o	Dohánytermékek;
          <br />
          o	Bármilyen tűz-vagy robbanásveszélyes anyag, vegyi anyagok;
          <br />
          o	Gyógyszer, külön engedély, bejelentés birtokában, vagy meghatározott felhasználói kör részére forgalmazható anyagok és készítmények, kábítószer, tudatmódosító anyag, vagy bármely, ezekhez hasonló hatású szer és készítmény;
          <br />
          o	Lopott, vagy egyéb módon bűncselekményből származó, vagy jogellenesen forgalomba hozott termék;
          <br />
          o	Hamis, vagy hamisított termék, vagy hamis márka-vagy eredetjelzés feltüntetését segítő termék, továbbá tilos ezen jellegre vagy tulajdonságra vonatkozó információk elhallgatása, visszatartása is;
          <br />
          o	Emberi szerv, szövet, állati szerv vagy szövet, anyatej;
          <br />
          o	Értékpapír vagy bármely más olyan pénzügyi eszköz, amellyel befektetést vagy pénzkihelyezést lehet végezni;
          <br />
          o	Károkozó elemeket tartalmazó szoftver;
          <br />
          o	Dekóder kártya vagy illegális dekódolásához felhasználható eszköz;
          <br />
          •	Erotikus termékek
          <br />
          o	Meghatározott személy részére szóló, egyedi azonosítóval ellátott jegyek, bérletek;
          <br />
          o	Cigaretta töltő berendezés;
          <br />
          o	Vetőmag, vetőburgonya hirdetések, amelyek nem felelnek meg a 48/2004 (IV. 21.) FVM rendelet 48/2004 (IV. 21.) FVM rendelet (FVM rendelet) 52. § (1) bekezdés azon előírásának (FVM rendelet) 52. § (1) bekezdés azon előírásának, amely szerint forgalomba hozni csak olyan kiszerelt vetőmagot, vetőburgonyát lehet, amely hivatalosan fémzárolt, az FVM rendelet mellékletekben előírt követelményeknek megfelelő vetőmagtételből származik, a csomagoláson szerepelnek az FVM rendelet 52.§ (4) bekezdés szerinti adatok, egyebek mellett pl. kiszerelő neve és címe, fémzárolási szám, fémzárolás időpontja, fajta stb. A hivatkozott FVM rendeletnek nem megfelelő termékek „vetőburgonya” elnevezéssel vagy vetőburgonyára utaló elnevezéssel (pl. vető méretű burgonya) nem hirdethetők a Weboldalon,
          <br />
          o	Étkezési burgonya hirdetések, amelyek nem felelnek meg az étkezési burgonyára vonatkozó minőségi követelményekről szóló 34/2016 (V. 4.) FM rendeletben meghatározott minőségi és jelölési követelményeknek.
          <br />
          o	Azok a friss zöldség és gyümölcs hirdetések, így étkezési burgonya hirdetések, amelyeket nem a 68/2007 (VII.26.) FVM-EüM-SZMM együttes rendelet 6.§ (1) bekezdése alapján regisztrált élelmiszer-vállalkozónak minősülő Felhasználó kíván a Weboldalon hirdetni.
          <br />
          o	Élőállat hirdetés, vagy elhalt állatra (részeire) vonatkozó hirdetés.
          <br />
          A Szolgáltató jogosult a Szolgáltatás nyújtásának megtagadására és a Felhasználót kizárni a Weboldalon elérhető Szolgáltatások nyújtásából (a Felhasználó fiókjának illetve hirdetésének törlésével) akkor is, ha a Felhasználó a Szolgáltató megítélése szerint nem rendeltetésszerűen használja a Weboldalt.
          <br />
          A Szolgáltató fenntartja magának a jogot, hogy a jelen pontban meghatározottak szerinti Szolgáltatás nyújtásának megtagadásával érintett Felhasználó IP címéről érkező ismételt regisztrációt megtagadja, illetve a már létrejött ismételt regisztrációt előzetes értesítés nélkül, azonnali hatállyal törölje, felé a Szolgáltatás nyújtását a jövőben megtagadja.
        </p>
        <h4>IV.	Felelősség</h4>
        <p>
          A Felhasználó által a Weboldalon közzé- vagy elérhetővé tett tartalomért, ideértve a tartalom által okozott vagy egyébként azzal összefüggésben felmerült mindennemű vagyoni vagy nem vagyoni kárért kizárólag a Felhasználót terheli felelősség, a Szolgáltató ezen tartalmakért nem felel és semmilyen felelősséget nem vállal. A Felhasználó köteles a Szolgáltatást jogszerűen és a mindenkor hatályos jogszabályok, továbbá a jelen Szabályzat rendelkezéseinek betartásával használni.
          <br />
          A Felhasználó a Szolgáltatások használatával elismeri, hogy Weboldalra általa feltöltött információk, anyagok, szövegek, képek és adatok tartalmáért és jogszerűségéért felelősséggel tartozik. A Szolgáltató a Weboldal működtetését az Elkertv. szerint végzi, és amennyiben azt észleli, hogy bármely tartalom a jelen Szabályzatba ütközhet, jogosult és az Elkertv.-ben meghatározott esetekben, illetve szabályok szerint köteles a tartalom azonnali eltávolítására, és az érintett Felhasználó további jogellenes tevékenységének megakadályozására. A Szolgáltató kizárja a felelősségét minden abból eredő kárért, ha törölte a Felhasználó jelen Szabályzat rendelkezéseibe ütköző magatartása vagy bármely jogszabály megsértése miatt a Felhasználó által a Weboldalra feltöltött bármilyen tartalmat, vagy megakadályozta további Szabályzatba ütköző tevékenységét.
          <br />
          A Szolgáltató nem felelős a Felhasználóknak a Weboldal használatával terjedő vagy elérhetővé váló káros tartalmak, így vírusok, férgek okozta károk és egyéb veszteségek vonatkozásában. A Szolgáltató nem felelős továbbá a Felhasználók által megadott adatok hiányosságáért, vagy a hibásan megadott adatokból eredő bármilyen felmerülő hátrányért.
          <br />
          A Szolgáltató a Felhasználók által elcserélt termékek Felhasználók által való birtokbaadása-birtokbavétele tekintetében semmilyen felelősséggel nem tartozik. Az elcserélt termékek átadása és az azzal kapcsolatos felelősség az érintett Felhasználókat terheli. A Szolgáltató semmilyen felelősséggel nem tartozik a cserére meghirdetett termékek Felhasználók által meghatározott Brtk értéke, értékarányossága vonatkozásában.
          <br />
          A Szolgáltató nem avatkozik bele a Felhasználók közti jogvitákba, és a Felhasználók közti jogvitákkal kapcsolatos igények tekintetében a Szolgáltató semmilyen felelősségét nem vállal. A Szolgáltató nem vállal felelősséget a Felhasználók által a Weboldalra feltöltött felhívásokkal, ajánlatokkal, továbbá az ezek alapján létrejövő szerződésekkel kapcsolatban, így különösen a termékek minőségéért, biztonságáért, jogszabályi megfelelőségéért, a termékek ellenőrzéséért, a termékek értékarányosságának megfelelőségéért, vagy a Felhasználó teljesítéséért. Az elcserélt termékek kiszállítása, átadása a Szolgáltatótól függetlenül, a Felhasználók megállapodásának megfelelően zajlik le.
          <br />
          Amennyiben a Felhasználó magatartása következtében vagy azzal összefüggésben harmadik személy vagy bármely hatóság illetve bíróság a Szolgáltatóval szemben bármilyen igényt támaszt illetve eljárást indít, a Felhasználó köteles minden a Szolgáltató által megkövetelt intézkedést megtenni és a Szolgáltatónak megtéríteni minden olyan kárt, vagyoni hátrányt és költséget, amely a Szolgáltatót a Felhasználó bármely jogellenes magatartása miatt vagy azzal összefüggésben éri, továbbá köteles a Szolgáltató helyett közvetlenül helytállni ilyen igény vonatkozásában.
          <br />
          A Felhasználó kijelenti, hogy a Szolgáltatást a jelen Szabályzat rendelkezéseinek megfelelően veszi igénybe, a Szolgáltatás igénybevétele során megadott adatai a valóságnak megfelelnek. A Szolgáltató kizárja felelősségét a Szolgáltatás igénybevétele során megadott téves, hibás vagy hamis adatok vagy e-mail cím megadásából eredő kárért.
          <br />
          A Felhasználó vállalja, hogy minden, a Szolgáltató által megkövetelt intézkedést megtesz a Szolgáltató jó hírnevének megóvása érdekében.
          <br />
          A Szolgáltató az általa üzemeltetett szerverek és egyéb berendezések (ide értve a hálózati kapcsolatot biztosító infrastruktúra) működtetése kapcsán a szükséges védelmi intézkedéseket elvégezte és fenntartja, folyamatosan frissíti. Az eszközök megfelelő elhelyezéséről és fizikai védelméről gondoskodik, illetve a tárolt adatok védelmét a rendelkezésre álló informatikai eszközök révén biztosítja.
        </p>
        <h4>V.	Polgári jog, büntető jog, szerzői, szomszédos és kapcsolódó jogok védelme</h4>
        <p>
          A Szolgáltatás bármely eleme és annak egésze, továbbá a Weboldalon a Szolgáltató által elérhetővé tett minden tartalom és elem (beleértve az egyes felhasználói hirdetéseket, a Weboldal arculatát, tartalmának, adatbázisának összeválogatását, elrendezését és megjelenítését is, szoftverek, forráskódok, domain nevek, logók, stb.) szerzői jogi (ideértve a szerzői jogi törvényben meghatározott szomszédos és kapcsolódó jogokat is, a továbbiakban szerzői jogok alatt ezeket is érteni kell) védelem – és bizonyos esetekben –  büntető jogi, illetőleg polgári jogi védelem alatt állnak.
          <br />
          A szerzői jogok összessége és az adatbázis előállítójának védelmét megillető jogok, továbbá a fentiek szerint megszerzett felhasználási jog jogosultja a Szolgáltató. A Weboldal bármely elemének engedély nélküli felhasználása, így különösen, de nem kizárólagosan másolása, módosítása vagy újbóli közzététele – a Szolgáltató kifejezetten erre irányuló írásos felhasználási engedélye nélkül – polgári jogi és büntetőjogi felelősséget von maga után. A Weboldalon elérhető adatbázis egésze vagy része nem használható fel és nem hasznosítható a Szolgáltató előzetes írásbeli engedélye nélkül, így különösen tilos a Weboldal és az azon elérhető adatbázis egészét, bármely részét felhasználni, sokszorosítani, másolni, újraközölni, terjeszteni, kivéve, ha a Szolgáltató egyértelműen és kifejezetten ehhez külön írásban hozzájárul. A Szolgáltató a Weboldal tartalmának bármely részét vagy egészét bármikor, előzetes értesítés és bármely kártalanítási kötelezettség nélkül módosíthatja vagy visszavonhatja.
          <br />
          A Felhasználó a Szolgáltatás megrendelésével egyben hozzájárul ahhoz, hogy a Szolgáltató a Felhasználó által szolgáltatott elemeket a Szolgáltató ellenérték fizetése nélkül, a Szolgáltatások nyújtásához szükséges és hasznos mértékben és körben felhasználja, beleértve a másolás, többszörözés, tárolás, közzététel, terjesztés, illetve a szükséges mértékű átdolgozás jogát, valamint harmadik személy részére történő felhasználási jog engedését is időbeli és földrajzi (területi) korlátozás nélkül. A felhasználási jog kizárólagos, a Szolgáltató jogosult azt továbbadni harmadik személy részére. A Felhasználó az előbbiekre való tekintettel csak az általa készített, vagy olyan egyéb anyagokat adhat át, amely kapcsán a kizárólagos felhasználási jogokkal rendelkezik.
        </p>
        <h4>VI.	Ügyfélszolgálat</h4>
        <p>
          A Szolgáltató ügyfélszolgálata a Szolgáltatással kapcsolatos panaszokat, felhasználói megkereséseket az alábbi címeken fogadja: kapcsolat@bartermester.com
          <br />
          Amennyiben a Felhasználó a Szolgáltató válaszát nem tartja kielégítőnek, különösen az alábbi szervekhez fordulhat jogorvoslatért:
          <br />
          (i) Fogyasztónak minősülő Felhasználó – ha önálló foglalkozásán és gazdasági tevékenységi körén kívül eső célok érdekében jár el a Szolgáltatások igénybevétele során – a területi gazdasági kamarák mellett működő független, a fogyasztó lakóhelye vagy tartózkodási helye szerinti illetékes, vagy kérelme szerinti békéltető testülethez fordulhat, melyek hatáskörébe tartozik a fogyasztó és a Szolgáltató közötti, a termék minőségével, biztonságosságával, a termékfelelősségi szabályok alkalmazásával, a szolgáltatás minőségével, továbbá a felek közötti szerződés megkötésével és teljesítésével kapcsolatos vitás ügy (a továbbiakban: fogyasztói jogvita) bírósági eljáráson kívüli rendezése, és e célból egyezség létrehozásának megkísérlése, ennek eredménytelensége esetén pedig az ügyben döntés hozatala a fogyasztói jogok egyszerű, gyors, hatékony és költségkímélő érvényesítésének biztosítása érdekében. Az eljárás részletes szabályait a fogyasztóvédelemről szóló 1997. évi CLV tv. tartalmazza.
          <br />
          (ii) Fogyasztónak minősülő Felhasználó a fogyasztóvédelmi hatósági jogkört gyakorló, területileg illetékes kormányhivatalokhoz fordulhat. Az eljárás részletes szabályait a fogyasztóvédelemről szóló 1997. évi CLV tv., a 2008. évi XLVII tv., valamint a 2004. évi CXL tv. tartalmazza.
        </p>
        <h4>VII.	A Szolgáltatóra nézve kötelező peren kívüli panaszkezelési mód és vitarendezési mechanizmus igénybevételének lehetősége</h4>
        <p>
          Fogyasztók a panaszaikkal elsődlegesen írásban fordulhatnak közvetlenül a Szolgáltatóhoz, amely minden tőle telhetőt megtesz az esetleges jogsértések megszüntetése és orvoslása érdekében. A Szolgáltató és fogyasztó a jogvitáikat elsődlegesen peren kívül, egyeztetés útján rendezik. Ha az egyeztetés nem vezet eredményre, úgy a fogyasztó a hatályos jogszabályok, illetve a Szabályzat szerint hatósághoz, bírósághoz, békéltető testülethez fordulhat. A békéltető testület hatáskörébe tartozik a fogyasztó és a vállalkozás közötti, a termék minőségével, biztonságosságával, a termékfelelősségi szabályok alkalmazásával, a szolgáltatás minőségével, továbbá a felek közötti szerződés megkötésével és teljesítésével kapcsolatos vitás ügy (a továbbiakban: fogyasztói jogvita) bírósági eljáráson kívüli rendezése: e célból egyezség létrehozásának megkísérlése, ennek eredménytelensége esetén pedig az ügyben döntés hozatala a fogyasztói jogok egyszerű, gyors, hatékony és költségkímélő érvényesítésének biztosítása érdekében. A békéltető testület eljárása megindításának feltétele, hogy a fogyasztó az érintett vállalkozással közvetlenül megkísérelje a vitás ügy rendezését. A békéltető testület eljárása a fogyasztó kérelmére indul. A kérelmet a békéltető testület elnökéhez kell írásban benyújtani. A Szolgáltató székhelye szerint illetékes békéltető testület: Budapesti Békéltető Testület, 1016 Budapest, Krisztina krt. 99. levelezési cím: 1253 Budapest, Pf.: 10.
        </p>
        <mat-card-actions align="right">
          <button mat-button mat-dialog-close>Bezár</button>
        </mat-card-actions>
      </mat-card-content>
    </div>

    <!--GDPR-->
    <div *ngIf="data == 'gdpr'">
      <mat-card-header>
        <mat-card-title class="magenta" style="font-size: x-large;">ADATVÉDELMI NYILATKOZAT</mat-card-title>
      </mat-card-header>

      <mat-card-content [formGroup]="popUpForm">
        <h5>Adatkezelési tájékoztató</h5>
        <h6>1. Adatkezelő megnevezése:</h6>
        <p>
          Chikán Ildikó
          <br />
          Ybbstrasse 25, 1020 Bécs, Ausztria
        </p>
        <h6>2. Adatvédelmi tisztségviselő neve, elérhetősége:</h6>
        <p>
          Chikán Ildikó
          <br />
          +36 30 83 13 755
          <br />
          Ybbstrasse 25, 1020 Bécs, Ausztria
        </p>
        <h6>3. Adatkezelés célja, jogalapja</h6>
        <p>
          Adatkezelés célja :
          <br />
          Az adatkezelés célja az ügyfél felhasználói hozzáférésének biztositása a bartermester.com weboldalhoz valamint a kapcsoltattartás lehetőségének biztosítása az Adatkezelő valamint az ügyfél között.
          <br />
          A felhasználónév és az email cím a bartermester.com weboldal használatához elengedhetetlenül szükséges a felhasználó azonosításához.
          <br />
          Az adatbiztonsági követelmények teljesítése érdekében a felhasználó azonosítása során jelszó megadása kötelező.
          <br />
          Adatkezelés jogalapja :
          <br />
          Az (EU) 2016/679 európai parlamenti és tanácsi rendelet (a továbbiakban: GDPR) 6. cikk (1) bekezdés a) pontja szerint, az adatkezelés a Felhasználó, azaz az Ön hozzájárulásán alapul.
          <br />
          A rendszer használatához elengedhetetlen(felhasználónév, email cím) adatok kivételével az adatok megadása nem kötelező.
        </p>
        <h6>4. A Bartermester.com weboldal használatához kapcsolódó adatkezelés:</h6>
        <p>
          Személyes adat - Email-cím:
          <br />
          Adatkezelés célja:
          <br />
          Az email cím az Adatkezelő és a Felhasználó közötti kapcsolattartáshoz, az üzenet érkezésének jelzésére, valamint a jelszók kezeléséhez szükséges.
          <br />
          Adatkezelés jogalapja:
          <br />
          Az (EU) 2016/679 európai parlamenti és tanácsi rendelet (a továbbiakban: GDPR) 6. cikk (1) bekezdés a) pontja szerint, az adatkezelés a Felhasználó, azaz az Ön hozzájárulásán alapul.
          A rendszer használatához elengedhetetlen (Név, felhasználónév, email cím) adatok kivételével az adatok megadása nem kötelező.
        </p>
        <p>
          Személyes adat - Név:
          <br />
          Adatkezelés célja:
          <br />
          A név az Adatkezelő és a Felhasználó közötti kapcsolattartáshoz szükséges.
          <br />
          Adatkezelés jogalapja:
          <br />
          Az (EU) 2016/679 európai parlamenti és tanácsi rendelet (a továbbiakban: GDPR) 6. cikk (1) bekezdés a) pontja szerint, az adatkezelés a Felhasználó, azaz az Ön hozzájárulásán alapul.
          A rendszer használatához elengedhetetlen (Név, felhasználónév, email cím) adatok kivételével az adatok megadása nem kötelező.
        </p>
        <h6>
          5. A személyes adatok forrása, illetve a kezelt adatok köre, ha azokat nem az érintett bocsátotta a Hatóság rendelkezésére
        </h6>
        <p>
          A Hatóság nem kezel olyan személyes adatokat, amelyeket nem az érintettől gyűjt.
        </p>
        <h6>
          6.	A tájékoztató 3. és 4. pontjában említett adatkezelés kapcsán az adatok tárolása az ASPHostPortal Inc. (Cím: 325 Capitol Street, Suite 415, Texas,Houston - 77002, United States) szerverein, az EU-ban(Hollandia) történik.
        </h6>
        <h6>7. Személyes adatok tárolásának ideje :</h6>
        <p>
          A tájékoztató 3. és 4. pontjában említett adatokat az Adatkezelő a Felhasználó hozzájárulásának visszavonásáig (regisztrált fiók törléséig) kezeli. A hozzájárulását kapcsolat@bartermester.com email címre küldött levelében bármikor visszavonhatja.
        </p>
        <h6>8. Az adatkezeléssel kapcsolatos érintetti jogok</h6>
        <p>
          8.1.	Hozzáféréshez való jog:
          <br />
          Az érintett jogosult arra, hogy az 1. pontban megadott elérhetőségeken keresztül az Adatkezelőtől tájékoztatást kérjen arra vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e, és ha ilyen adatkezelés folyamatban van, jogosult arra, hogy megismerje azt, hogy
          <br />
          •	Az adatkezelő
          <br />
          - milyen személyes adatait;
          <br />
          - milyen jogalapon;
          <br />
          - milyen adatkezelési cél miatt;
          <br />
          - mennyi ideig
          <br />
          kezeli; továbbá, hogy
          <br />
          •	az Adatkezelő kinek, mikor, milyen jogszabály alapján, mely személyes adataihoz biztosított hozzáférést vagy kinek továbbította a személyes adatait;
          <br />
          •	 milyen forrásból származnak a személyes adatai;
          <br />
          •	az Adatkezelő alkalmaz-e automatizált döntéshozatalt, valamint annak logikáját, ideértve a profilalkotást is.
          <br />
          Az Adatkezelő az adatkezelés tárgyát képező személyes adatok másolatát az érintett erre irányuló kérésére első alkalommal díjmentesen bocsátja a rendelkezésére, ezt követően adminisztratív költségeken alapuló, ésszerű mértékű díjat számíthat fel. Az adatbiztonsági követelmények teljesülése és az érintett jogainak védelme érdekében az Adatkezelő köteles meggyőződni az érintett és a hozzáférési jogával élni kívánó személy személyazonosságának egyezéséről, ennek érdekében a tájékoztatás, az adatokba történő betekintés, illetve azokról másolat kiadása is az érintett személyének azonosításához kötött
        </p>
        <p>
          8.2 Helyesbítéshez való jog:
          <br />
          Az érintett személy az 1. pontban megadott elérhetőségeken keresztül kérheti, hogy az Adatkezelő módosítsa valamely személyes adatát.
          <br />
          Amennyiben az érintett hitelt érdemlően igazolni tudja a helyesbített adat pontosságát, a Hatóság a kérést legfeljebb egy hónapon belül teljesíti, és erről az általa megadott elérhetőségen értesíti az érintett személyt.
        </p>
        <p>
          8.3 Az adatkezelés korlátozásához való jog:
          <br />
          Az érintett személy az 1. pontban megadott elérhetőségeken keresztül kérheti, hogy a személyes adatai kezelését az Adatkezelő korlátozza (az adatkezelés korlátozott jellegének egyértelmű jelölésével és az egyéb adatoktól elkülönített kezelés biztosításával) amennyiben
          <br />
          - vitatja a személyes adatai pontosságát (ebben az esetben a Hatóság arra az időtartamra korlátozza az adatkezelést, amíg ellenőrzi a személyes adatok pontosságát);
          <br />
          - az adatkezelés jogellenes, és az érintett ellenzi az adatok törlését, és ehelyett kéri azok felhasználásának korlátozását;
          <br />
          - az adatkezelőnek már nincs szüksége a személyes adatokra adatkezelés céljából, de az érintett igényli azokat jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez; vagy
          <br />
          - az érintett tiltakozott az adatkezelés ellen (ez esetben a korlátozás arra az időtartamravonatkozik, amíg megállapításra nem kerül, hogy az adatkezelő jogos indokai elsőbbséget élveznek-e az érintett jogos indokaival szemben).
        </p>
        <p>
          8.4 Tiltakozáshoz való jog:
          <br />
          A 3. és 4. pont szerinti célból történő adatkezelés tekintetében az érintett az 1. pontban megadott elérhetőségeken keresztül tiltakozhat az adatkezelés ellen, ha álláspontja szerint az adatkezelő a személyes adatát nem megfelelően kezelné. Ebben az esetben az Adatkezelőnek kell igazolnia, hogy a személyes adat kezelését olyan kényszerítő erejű jogos okok indokolják, amelyek elsőbbséget élveznek az érintett érdekeivel, jogaival és szabadságaival szemben, vagy amelyek jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez kapcsolódnak.
        </p>
        <p>
          8.5 Törléshez való jog:
          <br />
          A tájékoztató 3 és 4  pontjában található adatkezelési célok kapcsán – figyelemmel annak jogalapjára – az érintett jogosult arra, hogy kérésére az Adatkezelő indokolatlan késedelem nélkül törölje az érintettre vonatkozó személyes adatokat, amennyiben az adatok kezelésére más jogalapja nem áll fenn.
        </p>
        <p>
          8.6 Az adathordozáshoz való jog:
          <br />
          A 3. és 4.  pont szerinti célból történő adatkezelésekkel kapcsolatban – figyelemmel annak jogalapjára – a Felhasználó az 1. pontban megadott elérhetőségeken keresztül jogosult arra, hogy a rá vonatkozó, általa a Hatóság rendelkezésére bocsátott személyes adatait tagolt, széleskörben használt, géppel olvasható formátumban megkapja, továbbá jogosult arra, hogy ezeket az adatokat egy másik adatkezelőnek továbbítsa anélkül, hogy ezt akadályozná a az Adatkezelő.
        </p>
        <mat-card-actions align="right">
          <button mat-button mat-dialog-close>Bezár</button>
        </mat-card-actions>
      </mat-card-content>
    </div>

    <!--FAQ-->
    <div *ngIf="data == 'faq'">
      <mat-card-header>
        <mat-card-title class="magenta" style="font-size: x-large;">GYAKRAN ISMÉTELT KÉRDÉSEK</mat-card-title>
      </mat-card-header>

      <mat-card-content [formGroup]="popUpForm">
        <h4>Mit tegyek, ha feltöltöttem egy új terméket, de nem látom a piactéren?</h4>
        <p>
          A hátizsák menüpont alatt, keresd meg a terméket és kattints a kép alatti pipa ikonra.  Ettől a terméked “aktiv” állapotba kerül és megjelenik a piactéren.
        </p>
        <h4>Hol láthatom az eddig megvásárolt termékeimet?</h4>
        <p>
          A jobb felső sarokban a boritékra kattintva, keresd meg az “Adásvétel emlékeztetők” feliratot és a felirat alatt megtalálod az általad eddig megvásárolt termékek listáját.  Itt még tudsz üzenni az eladónak a nyil ikonra kattintással.
        </p>
        <h4>Új terméket próbálok feltölteni, de nem történik semmi, ha a “mentés” gombra kattintok.</h4>
        <p>
          Ellenőrizd, hogy minden csillaggal jelölt kötelező mezőt kitöltöttél-e.
          <br />
          Kötelező mezők:
          <br />
          -Kategória
          <br />
          -Név
          <br />
          -Állapot
          <br />
          -Mennyiség
          <br />
          -Ár
          <br />
          -Hely
          <br />
          -Szállítás
        </p>
        <h4>Mit tegyek, ha nem fér ki a termékem megnevezése a méhsejtre?</h4>
        <p>
          A címben elég ha a termék legegyszerűbb nevét írod be, max 10 karaktert. A leírásban van lehetőség a címet kifejteni és a termékről bővebb tájékoztatást írni.
        </p>
        <h4>Mit tegyek, ha hibát találtam a weboldalon vagy észrevételem van az oldallal kapcsolatban?</h4>
        <p>
          Kérlek ird meg a hibát az kapcsolat@bartermester.com emailcímre.
          <br />
          Minden építő jellegű hozzászólásnak örülünk.
        </p>
        <h4>Mit mutat az egyenlegem?</h4>
        <p>
          <b>Saját tranzakcióból szerzett:</b> Minden újonnan regisztrált tag kap 1500 Barteknek megfelelő pontot, amivel elkezdheti a csereberét.
          <br />
          <b>Ismerőseid tranzakciójából kapott jutalék:</b> Itt látod, az általad meghívott tagok cseréiből neked járó jutalék összegét, ami a csereberéjük pontjainak 2%-a.
          <br />
          <b>Meghívottak regisztrálása után kapott jutalék:</b> Minden általad meghívott új tag után 500 Barteket kapsz. Az 500 Bartek az általad meghívott tag első tranzakciója után adódik az egyenlegedhez.
        </p>
        <mat-card-actions align="right">
          <button mat-button mat-dialog-close>Bezár</button>
        </mat-card-actions>
      </mat-card-content>
    </div>

  </mat-card>
</div>
