<div class="col-md-6 offset-md-3 mt-5">
  <mat-card class="mat-elevation-z20">

    <button mat-icon-button class="close-button" (click)="onCancel()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title class="magenta">ÚJ MEGHÍVÓ KÜLDÉSE</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="inviteForm">
        <mat-form-field appearance="standard" class="col-md-12">
          <mat-label for="email">email*</mat-label>
          <input matInput type="email" formControlName="email" name="email" ngModel email="true" />
        </mat-form-field>
      </form>
      <br />
      <br />
      <mat-card-actions align="right" style="padding: 20px;">
        <!--<button mat-button (click)="onCancel()">
          Mégse
        </button>-->
        <!--<span class="fill-remaining-space-small"></span>-->
        <button mat-raised-button class="orange-button" (click)="onSubmit()">
          Elküldöm a meghívót
        </button>

      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z20">
    <mat-card-header>
      <mat-card-title>EDDIG KIKÜLDÖTT MEGHÍVÓK:</mat-card-title>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    </mat-card-header>

    <mat-card-content>      
      <div class="row">
        <div *ngFor="let member of inviteHistory" class="col-md-6">
          <p><mat-icon style="vertical-align: middle;">account_box</mat-icon>
          {{member.email}}</p>
        </div>
      </div>      
    </mat-card-content>
  </mat-card>
</div>
