
<div class="row mt-3 text-center">
  <div class="col-md-2 col-3 color-block-height bg-color-sky-blue text-uppercase">
    <label class="mt-65">Baba-mama</label>
  </div>
  <div class="col-md-2 col-3 color-block-height bg-color-red text-uppercase">
    <label class="mt-65">Divat, ruházat</label>
  </div>
  <div class="col-md-2 col-3 color-block-height bg-color-purple text-uppercase">
    <label class="mt-65">Kultúra</label>
  </div>
  <div class="col-md-2 col-3 color-block-height bg-color-blue2 text-uppercase">
    <label class="mt-65">Műszaki cikkek, elektronika</label>
  </div>
  <div class="col-md-2 col-3 color-block-height bg-color-orange text-uppercase">
    <label class="mt-65">Otthon, háztartás</label>
  </div>
  <div class="col-md-2 col-3 color-block-height bg-color-light-green text-uppercase">
    <label class="mt-65">Szabadidő, sport</label>
  </div>
</div>


<div class="row mt-3 justify-content-center">
  <div class="col-lg-3 col-md-4 col-12">
  <input type="color">
  </div>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-3 col-12">
    <div class="bg-color-purple w-100 text-center text-white py-2 rounded font-20">
      MENTES es vissa
      <br>
      a kezdooldalra
    </div>
  </div>
</div>
