

.bg-color-sky-blue {
  background-color: #57c8f2;
}

.bg-color-red {
  background-color: #e5102c;
}

.bg-color-purple {
  background-color: #9c5ee7;
}

.bg-color-blue2 {
  background-color: #0f83d0;
}

.bg-color-orange {
  background-color: #fdc003;
}

.bg-color-light-green {
  background-color: #80ba18;
}

.color-block-height {
  height: 300px;
}
.font-20 {
  font-size: 20px;
}



.mt-65 {
  margin-top: 65%;
}
