<div class="col-md-6 offset-md-3 mt-5">
  <mat-card class="mat-elevation-z20">
    <mat-card-header>
      <mat-card-title class="magenta">BEJELENTKEZÉS</mat-card-title>     
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="standard" class="col-md-12">
          <mat-label for="username">Felhasználónév</mat-label>
          <input matInput type="text" formControlName="username" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard" class="col-md-12">
          <mat-label for="password">Jelszó</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
          <mat-icon class="cursor-pointer" matSuffix mat-icon-button (click)="hide = !hide"> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <br />
        <br />
      </form>

      <mat-card-actions align="right" style="padding: 25px;">
        <button mat-raised-button [disabled]="loading" (click)="onForgottenPasswordClick()">
          <!--<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
          Elfelejtett jelszó
        </button>
        <button mat-raised-button class="orange-button" [disabled]="loading" (click)="onSubmit()">
          <!--<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
          Belépés
        </button>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
