<div mat-dialog-content class="row">
  <mat-card class="message_width">

    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title class="magenta" style="font-size: x-large;">ÜZENET ÍRÁS</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="popUpForm">
     
        <div class="row">
          <div class="col-md-12">
            <b>Hírdető:</b> {{data.user.username}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <b>Tárgy:</b> {{data.name}}
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-12">
            <b>Üzenet*:</b>
          </div>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-md-12">
            <textarea matInput type="text" formControlName="body" rows="4" maxlength="255" placeholder="max. 255 karakter"></textarea>
          </mat-form-field>
        </div>

      <mat-card-actions align="right">
        <button mat-raised-button class="orange-button" (click)="onSubmit(data)">Elküldöm</button>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>

</div>
