<div mat-dialog-content class="row">
  <mat-card style="font-weight: 500;">

    <!--<mat-card-header>
      <mat-card-title align="right" style="font-size: xx-large;"><b>EGYENLEGED</b></mat-card-title>
    </mat-card-header>-->

    <mat-card-content>
      <button mat-icon-button class="close-button" mat-dialog-close>
        <mat-icon class="close-icon">close</mat-icon>
      </button>
      <br />
      <div class="row" align="right">
        <div class="col-md-12" style="font-size: xx-large">
          <b>EGYENLEGED</b>
        </div>
      </div>
      <br />
      <div class="row" align="right">
        <div class="col-md-10" style="font-size: x-large">
          Saját tranzakcióból szerzett:
        </div>
        <div class="col-md-2 magenta" style="font-size: x-large">
          {{ownSum | number:'1.2-2'}}
        </div>
      </div>

      <div class="row" align="right">
        <div class="col-md-10" style="font-size: x-large">
          Ismerőseid tranzakciójából kapott jutalék:
        </div>
        <div class="col-md-2 magenta" style="font-size: x-large">
          {{subSum | number:'1.2-2'}}
        </div>
      </div>

      <div class="row" align="right">
        <div class="col-md-10" style="font-size: x-large">
          Meghívottak regisztrálása után kapott jutalék:
        </div>
        <div class="col-md-2 magenta" style="font-size: x-large">
          {{inviteSum | number:'1.2-2'}}
        </div>
      </div>

      <div class="row" align="right">
        <div class="col-md-3 show_desktop" align="center">
          <mat-icon style="transform: scale(8); height: auto" svgIcon=balance_icon></mat-icon>
        </div>
        <div class="col-md-7" style="font-size: x-large">
          Költések:
        </div>
        <div class="col-md-2 magenta" style="font-size: x-large">
          {{spentSum | number:'1.2-2'}}
        </div>

      </div>

      <div class="row" align="right" style="margin-top: 2rem;">
        <div class="col-md-10" style="font-size: xx-large">
          <b>ÖSSZESEN:</b>
        </div>
        <div class="col-md-2 magenta" align="right" style="font-size: xx-large">
          <b>{{totalSum | number:'1.2-2'}}</b>
        </div>
      </div>

      <br />
      <hr />
    </mat-card-content>
  </mat-card>

</div>


