* {
  margin: 0;
  padding: 0;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

  .hex::after {
    content: '';
    display: block;
    padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
  }

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}

  .hexIn * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
/*.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
  -ms-transform: rotate3d(0,0,0,0deg);
  transform: rotate3d(0,0,0,0deg);
}*/

.hex h5, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  font-weight: 500;
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h5 {
  bottom: 50%;
  padding-top: 50%;
  font-size: large;
  z-index: 1;
  /*  -webkit-transform: translate3d(0,-100%,0);
  -ms-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);*/
}

/*  .hex h5::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
  }*/

.hex p {
  top: 50%;
  padding-bottom: 50%;
  font-size: medium;
  /*  -webkit-transform: translate3d(0,100%,0);
  -ms-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);*/
}


/*** HOVER EFFECT  **********************************************************************/
/*.hexLink:hover h5, .hexLink:focus h5,
.hexLink:hover p, .hexLink:focus p {
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}*/

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1501px) { /* <- 8-7  hexagons per row */
  #hexGrid {
    padding-bottom: 3.3%
  }

  .hex {
    width: 12.5%; /* = 100 / 5 */
  }

    .hex:nth-child(15n+9) { /* first hexagon of even rows */
      margin-left: 6.25%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (min-width:1201px) and (max-width:1500px) { /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%
  }

  .hex {
    width: 20%; /* = 100 / 5 */
  }

    .hex:nth-child(9n+6) { /* first hexagon of even rows */
      margin-left: 10%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%
  }

  .hex {
    width: 25%; /* = 100 / 4 */
  }

    .hex:nth-child(7n+5) { /* first hexagon of even rows */
      margin-left: 12.5%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%
  }

  .hex {
    width: 33.333%; /* = 100 / 3 */
  }

    .hex:nth-child(5n+4) { /* first hexagon of even rows */
      margin-left: 16.666%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%
  }

  .hex {
    width: 50%; /* = 100 / 3 */
  }

    .hex:nth-child(3n+3) { /* first hexagon of even rows */
      margin-left: 25%; /* = width of .hex / 2  to indent even rows */
    }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}

.mat-select {
  font-size: large;
}

.mat-input-element {
  font-size: large;
}

.filterarea {
  z-index: -1;
  background-color: #cccccc;
}

/*------------------------------------------------------------switcher-hexa------------------------------------------------------------*/
#hexGrid-switcher {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
}

.hex-switcher {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

  .hex-switcher::after {
    content: '';
    display: block;
    padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
  }

.hexIn-switcher {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}

  .hexIn-switcher * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }

.hexLink-switcher {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
/*.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
  -ms-transform: rotate3d(0,0,0,0deg);
  transform: rotate3d(0,0,0,0deg);
}*/

.hex-switcher h5, .hex-switcher p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  font-weight: 500;
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex-switcher h5 {
  padding-top: 47.5%;
  font-size: x-large;
  z-index: 1;
}

.transform-left:hover h5 {
  -webkit-transform: translate3d(-2.75rem,0,1rem);
  -ms-transform: translate3d(-2.75rem,0,1rem);
  transform: translate3d(-2.75rem,0,1rem);
}

.transform-top:hover h5 {
  -webkit-transform: translate3d(0,2.75rem,1rem);
  -ms-transform: translate3d(0,2.75rem,1rem);
  transform: translate3d(0,2.75rem,1rem);
}

.transform-right:hover h5 {
  -webkit-transform: translate3d(1rem,0,-2.75rem);
  -ms-transform: translate3d(1rem,0,-2.75rem);
  transform: translate3d(1rem,0,-2.75rem);
}

.transform-bottom:hover h5 {
  -webkit-transform: translate3d(0,-2.75rem,2rem);
  -ms-transform: translate3d(0,-2.75rem,2rem);
  transform: translate3d(0,-2.75rem,2rem);
}

.transform-big:hover h5 {
  -webkit-transform: translate3d(-2rem,-2rem,5rem);
  -ms-transform: translate3d(-2rem,-2rem,5rem);
  transform: translate3d(-2rem,-2rem,5rem);
}

.hex-switcher p {
  top: 50%;
  padding-bottom: 50%;
  font-size: medium;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1501px) { /* <- 8-7  hexagons per row */
  #hexGrid-switcher {
    padding-bottom: 3.3%
  }

  .hex-switcher {
    width: 12.5%; /* = 100 / 5 */
  }
}

@media (min-width:1201px) and (max-width:1500px) { /* <- 5-4  hexagons per row */
  #hexGrid-switcher {
    padding-bottom: 4.4%
  }

  .hex-switcher {
    width: 20%; /* = 100 / 5 */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%
  }

  .hex {
    width: 25%; /* = 100 / 4 */
  }
}

@media (max-width: 900px) and (min-width:201px) { /* <- 3-2  hexagons per row */
  #hexGrid-switcher {
    display: none;
  }

  .hex-switcher {
    display: none;
  }
}
