<br />
<!--//piros:#E4112A; - Divat, ruházat
//narancs:#FFBF00; - Otthon, háztartás
//zold:#80b918; - Szabadidő, sport
//kek:#1183D0; -  Műszaki cikkek, elektronika
//lila:#9b5de5; - Kultúra
//világoskék:#56C7F0; - Baba - mama-->




<!-- <div class="row">
  <ul id="hexGrid-switcher" class="col-md-6 row justify-content-center" routerLink="MarketPlace/MarketPlace" routerLinkActive="active">
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-left" style="background-color: grey; opacity: 0.5;">
          <h5>K</h5>
        </div>
      </div>
    </li>
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-top" style="background-color: darkgray; opacity: 0.5;">
          <h5> Í </h5>
        </div>
      </div>
    </li>
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-right" style="background-color: grey; opacity: 0.5;">
          <h5> N </h5>
        </div>
      </div>
    </li>
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-bottom" style="background-color: darkgray; opacity: 0.5;">
          <h5> Á </h5>
        </div>
      </div>
    </li>
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-big" style="background-color: grey; opacity: 0.5;">
          <h5> L </h5>
        </div>
      </div>
    </li>
  </ul>
  <ul id="hexGrid-switcher" class="col-md-6 row justify-content-center" routerLink="/DemandManagement/DemandMarketplace" routerLinkActive="active">
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-left" style="background-color: #56C7F0;">
          <h5> K </h5>
        </div>
      </div>
    </li>
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-top" style="background-color: #9b5de5;">
          <h5> E </h5>
        </div>
      </div>
    </li>
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-right" style="background-color: #56C7F0;">
          <h5> R </h5>
        </div>
      </div>
    </li>
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-bottom" style="background-color: #9b5de5;">
          <h5> E </h5>
        </div>
      </div>
    </li>
    <li class="hex-switcher cursor-pointer col-md-2">
      <div class="hexIn-switcher">
        <div class="hexLink-switcher transform-big" style="background-color: #56C7F0;">
          <h5> S </h5>
        </div>
      </div>
    </li>
  </ul>
</div> -->

<div class="row">
  <div class="col-6 text-right px-2">
    <button mat-raised-button routerLink="MarketPlace/MarketPlace" routerLinkActive="primary">
      KINÁL
      <span style="font-size: 20px">></span>
    </button>
  </div>
  <div class="col-6 text-left px-2">
    <button mat-raised-button color="primary" routerLink="/DemandManagement/DemandMarketplace">
      <span style="font-size: 20px"> < </span>
      KERES
    </button>
  </div>
</div>


<br />
<div class="row filterarea" style="border: 1px solid grey;">
  <div class="col-md-12" style="padding: 5px 20px 5px 20px;">
    <div class="row" style="background-color: white;">
      <mat-form-field appearance="outlined" class="col-md-9" style="    border: 3px solid grey;    font-size: 12px !important;">
        <mat-select placeholder="-Kategória-" (selectionChange)="onCategorySelected($event)" [(ngModel)]="categoryReset">
          <mat-option class="bt-text-black" value="" selected>-Kategória-</mat-option>
          <mat-option class="bt-text-black" *ngFor="let category of categoryList" value="{{category.categoryModel.id}}">{{category.categoryModel.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="(runFilter())" class="col-md-3" style="color: white; background-color: black; border: 3px solid #cc0099; font-size: large;">
        szűrés
      </button>
    </div>
  </div>
</div>

<mat-toolbar>
  <mat-toolbar-row>
    <div class="col-md-12 show_desktop">
      <button mat-icon-button style="float: left; left: 0px; top: 15px;" (click)="getFreshRecords()" class="mat-icon-300-size" matTooltip="Frissítés"><mat-icon svgIcon=refresh_icon></mat-icon></button>
    </div>
    <div class="col-md-12 show_mobile">
      <button mat-icon-button (click)="getFreshRecords()" class="mat-icon-150-size" matTooltip="Frissítés"><mat-icon svgIcon=refresh_icon></mat-icon></button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<ul id="hexGrid">
  <li class="hex cursor-pointer" *ngFor="let demand of demands" (click)="openDialog(demand)">
    <div class="hexIn" *ngIf="demand.id != 'pseudo'">
      <div class="hexLink" [ngClass]="setClasses(demand.categoryModel.name)">
        <h5> {{ demand.name }} </h5>
      </div>
    </div>
  </li>
</ul>
