/* You can add global styles to this file, and also import other style files */
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.cc-compliance {
    cursor: pointer;
    pointer-events:all;
}

html, body {
  height: 100%;
  background-color: white;
}

body {
  margin: 0;
  /*  font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
}

/*@media (min-width: 1200px)*/
.container {
  max-width: 80%;
}

/*.content {
  flex: 1 0 auto;
}*/

.footer {
  flex-shrink: 0;
  width: 100%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: center;
}

.footer_font {
    font-size: x-large;
    font-weight: 500;
}

.full-width {
  width: 100%;
}

.fill-remaining-space-small {
  flex: 0.02 0.02 auto;
}

.fill-remaining-space-small2 {
  flex: 0.05 0.05 auto;
}

.fill-remaining-space-medium {
  flex: 0.2 0.2 auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-icon-1125-size {
  transform: scale(1.125);
}

.mat-icon-150-size {
  transform: scale(1.4);
}

.mat-icon-200-size {
  transform: scale(2);
}

.mat-icon-300-size {
  transform: scale(3);
}

.cursor-pointer {
  cursor: pointer;
}

.mat-dialog-container {
  padding: 0px 0px 0px 0px !important;
}

.mat-dialog-content {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
}

.mat-form-field {
  color: black;
  font-size: large;
  font-weight: 500;
}

.mat-form-field-label {
  color: #ff9900;
  font-size: large;
  font-weight: 500;
}

app-market-place .mat-form-field {
  line-height: normal !important;
}

/*Drop down height*/
.mat-select-panel {
  /*  overflow: visible !important;*/
  max-height: 60vh !important;
}

.magenta {
  color: #cc0099;
}

.orange {
  color: #ff9900;
}

.green {
  color: #669900;
}

.background_grey {
  background-color: #cccccc;
}

.orange-button {
  color: white;
  background-color: #ff9900;
}

.red-button {
  color: white;
  background-color: indianred;
}
.green-button {
  color: white;
  background-color: forestgreen;
}
.hex_red {
  /*piros:#E4112A; - Divat, ruházat*/
  background: #E4112A;
}

.hex_orange {
  /*narancs:#FFBF00; - Otthon, háztartás*/
  background: #FFBF00;
}

.hex_green {
  /*zold:#80b918; - Szabadidő, sport*/
  background: #80b918;
}

.hex_blue {
  /*kek:#1183D0; - Műszaki cikkek, elektronika*/
  background: #1183D0;
}

.hex_purple {
  /*lila:#9b5de5; - Kultúra*/
  background: #9b5de5;
}

.hex_lightblue {
  /*világoskék:#56C7F0; - Baba-mama*/
  background: #56C7F0;
}

.refresh_border {
  border: 3px solid;
  border-radius: 5px;
}

.black_border {
  border: 3px solid black;
  border-radius: 5px;
}

/*Small*/
@media (max-width: 767px) {
  .show_mobile {
    display: normal;
  }

  .show_tablet {
    display: none;
  }

  .show_desktop {
    display: none;
  }
}

/*Medium*/
/*@media (min-width: 768px) and (max-width: 1024px) {
  .show_mobile {
    display: none;
  }

  .show_tablet {
    display: normal;
  }

  .show_desktop {
    display: none;
  }
}*/

/*Large*/
@media (min-width: 768px) {
  .show_mobile {
    display: none;
  }

  .show_tablet {
    display: none;
  }

  .show_desktop {
    display: normal;
  }

  .message_width {
    min-width: 50vw;
  }

  .reader_width {
    min-width: 65vw;
  }

  app-view-balance .mat-dialog-content {
    min-width: 70vw;
  }

  app-new-item .mat-dialog-content, app-edit-item .mat-dialog-content {
    min-width: 70vw;
    min-height: 90vh;
  }
}

.mat-toolbar {
  background-color: white;
}

/*Gombok körül nincs keret amikor megnyomod*/
button:focus {
  outline: none !important;
}

/*Close icon start*/
.close-button {
  float: right;
  top: -20px;
  right: -20px;
}
.close-icon {    
  transform: scale(0.6);
  transition: 1s ease-in-out;
}
  .close-icon:hover {
    transform: rotate(180deg);
  }
/*Close icon end*/
app-confirmation-dialog .mat-dialog-content {
  min-width: 30vw;
  overflow-x: hidden;
}
