
<div mat-dialog-content class="row">
  <mat-card>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title class="magenta" style="font-size: x-large;">ÚJ TERMÉK</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="popUpForm">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">

            <input style="display: none" type="file" accept=".jpg,.png,.jpeg" (change)="selectFile($event)" #hiddenfileinput>
            <button (click)="hiddenfileinput.click()" class="waves-effect waves-light btn orange-button"><i class="material-icons left">cloud</i> Kép feltöltése</button>
            <a>5 képet tölthetsz fel!</a>
            <ul class="list-group list-group-flush" *ngFor="let url of listURL; let i = index">
              <li class="list-group-item">
                <img [src]="url" height="120">

                <button mat-icon-button matTooltip="Törlés" (click)="clickDelete(i)">
                  <mat-icon aria-label="Törlés">delete</mat-icon>
                </button>
              </li>
            </ul>

          </div>
        </div>

        <div class="col-sm-8">
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="categoryModel">Kategória*</mat-label>
              <mat-select formControlName="categoryModelId">
                <mat-option *ngFor="let item of categoryList" value="{{item.id}}">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="singlePrice">Ár / darab*</mat-label>
              <input matInput type="number" formControlName="singlePrice" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="name">Megnevezés*</mat-label>
              <input matInput type="text" formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="locationModel">Hely*</mat-label>
              <mat-select formControlName="locationModelId">
                <mat-option *ngFor="let item of locationList" value="{{item.id}}">{{item.city}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="conditionModel">Állapot*</mat-label>
              <mat-select formControlName="conditionModelId">
                <mat-option *ngFor="let item of conditionList" value="{{item.id}}">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <!--<mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="postedAt">Feladás ideje</mat-label>
              <input matInput readonly [matDatepicker]="postedAt" formControlName="postedAt" />
              <mat-datepicker #postedAt></mat-datepicker>
            </mat-form-field>-->
          </div>
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="userName">Hírdető</mat-label>
              <input matInput readonly type="text" formControlName="userName" />
            </mat-form-field>

            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="transportModel">Szállitás* (pl. postai utánvét, személyes átvétel, szállításban segítek)</mat-label>
              <input matInput type="text" formControlName="transportModel" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="unitNumber">Mennyiség*</mat-label>
              <input matInput type="number" formControlName="unitNumber" />
            </mat-form-field>

            <!--<mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="discount">Engedmény</mat-label>
              <input matInput type="number" formControlName="discount" />
            </mat-form-field>-->
          </div>
          <!--<div class="row">
            <mat-form-field appearance="standard" class="col-md-6">
              <mat-label for="age">Age</mat-label>
              <input matInput type="text" formControlName="age" />
            </mat-form-field>
          </div>-->
          <div class="row">
            <mat-form-field appearance="fill" class="col-md-12">
              <mat-label for="description">Leírás</mat-label>
              <textarea matInput type="text" formControlName="description" cdkAutosizeMinRows="3"></textarea>
            </mat-form-field>
          </div>
          <div class="row" style="justify-content: flex-end;">
            <button style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onSubmit()">Mentés</button>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
