<div class="col-md-6 offset-md-3 mt-5">
  <mat-card class="mat-elevation-z20">

    <button mat-icon-button class="close-button" (click)="onCancel()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title class="magenta">REGISZTRÁCIÓ</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="registerForm">
      <mat-form-field appearance="standard" class="col-md-12">
        <mat-label for="lastname">Vezetéknév*</mat-label>
        <input matInput type="text" formControlName="lastname" />
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-md-12">
        <mat-label for="firstname">Keresztnév*</mat-label>
        <input matInput type="text" formControlName="firstname" />
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-md-12">
        <mat-label for="email">E-mail</mat-label>
        <input matInput readonly type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-md-12">
        <mat-label for="username">Felhasználónév*</mat-label>
        <input matInput name="ert2" autocomplete="off" type="text" formControlName="username" />
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-md-12">
        <mat-label for="password">Jelszó*</mat-label>
        <input matInput name="ert" autocomplete="off" [type]="hide ? 'password' : 'text'" formControlName="password" />
        <mat-icon class="cursor-pointer" matSuffix mat-icon-button (click)="hide = !hide"> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-md-12">
        <mat-label for="passwordconf">Jelszó megerősítése*</mat-label>
        <input matInput name="ert2" autocomplete="off" [type]="hide2 ? 'password' : 'text'" formControlName="passwordconf" />
        <mat-icon class="cursor-pointer" matSuffix mat-icon-button (click)="hide2 = !hide2"> {{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>

      </mat-form-field>

      <div class="col-md-12">
        <mat-checkbox formControlName="hasAcceptedGDPR"></mat-checkbox>
        Elfogadom az
        <button mat-button (click)="onGdprClick()">
          adatkezelési nyilatkozatot
        </button>
        
      </div>
      <div class="col-md-12">
        <mat-checkbox formControlName="hasAcceptedTermsAndConditions"></mat-checkbox>
        Elfogadom a
        <button mat-button (click)="onTermsOfUseClick()">
          felhasználási feltételeket
        </button>        
      </div>

      <mat-card-actions align="right">
        <!--<button mat-button (click)="onCancel()">
          Mégse
        </button>-->

        <button [disabled]="loading" style="margin-right: 20px;" mat-raised-button class="orange-button" (click)="onSubmit()">
          <!--<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
          Regisztrálok
        </button>

      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</div>
