<div mat-dialog-content class="row">
  <mat-card>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon class="close-icon">close</mat-icon>
    </button>
    <mat-card-header>
      <mat-card-title class="magenta" style="font-size: x-large;">Megerősítés szükséges</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <h5 style="margin-bottom: 5vw;">Biztosan végrehajtod az akciót?</h5>
      <mat-card-actions align="right">
        <button mat-raised-button class="red-button" primary (click)="onCancelClick()">Mégsem</button>
        <button mat-raised-button class="green-button" (click)="onConfirmClick()">Megerősítés</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

</div>
