<div class="col-md-6 offset-md-3 mt-5">
  <mat-card class="mat-elevation-z20">
    <button mat-icon-button class="close-button" (click)="onCancel()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title class="magenta">JELSZÓ CSERE</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="changePasswordForm">

        <mat-form-field appearance="standard" class="col-md-12">
          <mat-label for="password">Új jelszó*</mat-label>
          <input matInput name="ert" autocomplete="off" [type]="hide ? 'password' : 'text'" formControlName="password" />
          <mat-icon class="cursor-pointer" matSuffix mat-icon-button (click)="hide = !hide"> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard" class="col-md-12">
          <mat-label for="passwordconf">Új jelszó megerősítése*</mat-label>
          <input matInput name="ert2" autocomplete="off" [type]="hide2 ? 'password' : 'text'" formControlName="passwordconf" />
          <mat-icon class="cursor-pointer" matSuffix mat-icon-button (click)="hide2 = !hide2"> {{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

      </form>
      <br />
      <br />

      <mat-card-actions align="right" style="padding: 25px;">

        <button mat-raised-button class="orange-button" [disabled]="loading" (click)="onSubmit()">
          <!--<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
          Mentés
        </button>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
