

body {
  background-color: #000 !important;
}


h1, h2, h3, h4, h5, h6, label, span, p {
  color: #fff !important;
}


.magenta {
  color: #cc0099 !important;
}

.orange, span.orange, button.orange span {
  color: #ff9900 !important;
}


button.orange {
  color: #ff9900 !important;
}


.mat-toolbar {
  background-color: #000 !important;
}


button .mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
  color: #000 !important;
  background-color: #fff !important;
}

.bt-text-black, .bt-text-black span {
  color: #000 !important;
}


/* --------------- Message Panel Dark theme CSS ---------------- */
mat-drawer-container.custom-mat-drawer-container {
  border: 1px solid #fff !important;
  background-color: #000 !important;
  color: #fff !important;
}


mat-drawer.message-side-nav {
  background-color: #000;
  color: #fff;
}
mat-drawer.message-side-nav.mat-drawer-side {
  border-right: solid 1px #fff !important;
}

/* mat-drawer.message-side-nav mat-list mat-list-item {
  padding: 10px 5px;
} */

.mat-divider {
  border-top-color: #ffff !important;
}


.mat-card-content p {
  color: #000 !important;
}


.footer, .footer mat-card {
  background-color: #000 !important;
  color:#fff;
}


.cc-revoke.cc-bottom {
  background-color: #fff !important;
  color: #000 !important;
}


span.mat-select-value-text span {
  color: #000 !important;
}
