<div mat-dialog-content class="row" style="min-width: 40vw;">
  <mat-card>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon class="close-icon">close</mat-icon>
    </button>
    <mat-card-header>
      <mat-card-title class="magenta" style="font-size: x-large;">{{data.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-12">
              <b>Kategória:</b> {{data.categoryModel.name}}
            </div>
          </div>
          <hr class="show_desktop" />
          <div class="row">
            <div class="col-md-12">
              <b>Feladás dátuma:</b> {{data.postedAt | date: 'yyyy.MM.dd. HH:mm:ss' }}
            </div>
          </div>
          <hr class="show_desktop" />
          <div class="row">
            <div class="col-md-12">
              <b>Hírdető:</b> {{data.user.username}}
            </div>
          </div>
          <hr class="show_desktop" />
          <div class="row">
            <div class="col-md-12">
              <b>Leírás:</b> {{data.description}}
            </div>
          </div>
          <br />
          <div class="row" style="justify-content: flex-end;">
            <!--<button *ngIf="!isOwner" style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onSendMessage(data)">Üzenetet küldök</button>-->
            <!--<button *ngIf="isOwner" style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onOfferListClick(data)">Ajánlatok</button>-->
            <button *ngIf="!isOwner" style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onSubmit(data)">Ajánlatot adok</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-offer-list *ngIf="isOwner"></app-offer-list>
</div>
