<div mat-dialog-content class="row">
  <mat-card>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title class="magenta" style="font-size: x-large;">TERMÉK IGÉNY</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="popUpForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-12">
              <mat-label for="categoryModel">Kategória*</mat-label>
              <mat-select formControlName="categoryModelId">
                <mat-option *ngFor="let item of categoryList" value="{{item.id}}">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-12">
              <mat-label for="name">Megnevezés*</mat-label>
              <input matInput type="text" formControlName="name" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-12">
              <mat-label for="name">Leírás*</mat-label>
              <input matInput type="text" formControlName="description" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="standard" class="col-md-12">
              <mat-label for="userName">Termék igénylő</mat-label>
              <input matInput readonly type="text" formControlName="userName" />
            </mat-form-field>
          </div>
          <div class="row" style="justify-content: flex-end;">
            <button style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onSubmit()">Mentés</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
