<h4 class="magenta" style="margin: 0px 0px 0px 0px;">TERMÉK IGÉNYEK</h4>

<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <button mat-icon-button (click)="onNewRecordClick()" class="mat-icon-150-size magenta" matTooltip="Új termék igény"><mat-icon>add_circle</mat-icon></button>
    </div>

    <span class="fill-remaining-space-small"></span>

    <div class="col-md-12">
      <button mat-icon-button (click)="getFreshRecords()" class="mat-icon-150-size" matTooltip="Frissítés"><mat-icon svgIcon=refresh_icon></mat-icon></button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="row">
  <div *ngFor="let demand of demands" class="col-md-4" style=" padding: 0 0 0 0;">
    <div class="row" style="margin: 10px 10px 10px 10px;">
      <div class="col-md-12" style="padding: 0 0 0 0;">
        <mat-card [ngClass]="setClassesBorder(demand.statusModel.id)" style="min-height: 280px;">
          <mat-card-content style="line-height: 1;">

            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-12" style="font-size: large;">
                <b>{{demand.name}}</b>
              </div>
            </div>

            <mat-card-actions>
              <div class="row" style="padding-left: 15px; padding-right: 15px">
                <div class="col-md6" align="center">
                  <div>
                    <h5 [ngClass]="setClasses(demand.statusModel.id)">státusz: {{demand.statusModel.name}}</h5>
                  </div>
                </div>

                <span class="fill-remaining-space"></span>

                <div class="col-md6" align="right">
                  <button *ngIf="demand.statusModel.id<=2" mat-icon-button matTooltip="Szerkeztés" (click)="openDialog(demand)" class="orange">
                    <mat-icon aria-label="Szerkeztés">edit</mat-icon>
                  </button>

                  <button *ngIf="demand.statusModel.id!=1 && demand.statusModel.id<=2" mat-icon-button matTooltip="Aktiválás" (click)="setActive(demand.id)" class="orange">
                    <mat-icon aria-label="Aktiválás">check</mat-icon>
                  </button>

                  <button *ngIf="demand.statusModel.id==1 && demand.statusModel.id<=2" mat-icon-button matTooltip="Deaktiválás" (click)="setInactive(demand.id)" class="orange">
                    <mat-icon aria-label="Deaktiválás">clear</mat-icon>
                  </button>

                  <span class="fill-remaining-space-small"></span>

                  <button *ngIf="demand.statusModel.id<=2" mat-icon-button matTooltip="Törlés" (click)="clickDelete(demand.id)" class="orange">
                    <mat-icon aria-label="Törlés">delete</mat-icon>
                  </button>

                </div>
              </div>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
