<div mat-dialog-content class="row">
  <mat-card>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title class="magenta" style="font-size: x-large;">{{data.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-4">

          <ul class="list-group list-group-flush" *ngFor="let file of imageFiles">
            <li class="list-group-item">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <img mat-card-image src="{{APIUrl}}/{{file.imagePath}}" alt=" Nincs elérhető kép" />
              </div>
            </li>
          </ul>

        </div>

        <div class="col-sm-8">
          <div class="row">
            <div class="col-md-6">
              <b>Kategória:</b> {{data.categoryModel.name}}
            </div>
            <div class="col-md-6">
              <b>Lokáció:</b> {{data.locationModel.city}}
            </div>
          </div>
          <hr class="show_desktop" />
          <div class="row">
            <div class="col-md-6">
              <b>Állapot:</b> {{data.conditionModel.name}}
            </div>
            <div class="col-md-6">
              <b>Feladás dátuma:</b> {{data.postedAt | date: 'yyyy.MM.dd. HH:mm:ss' }}
            </div>
          </div>
          <hr class="show_desktop" />
          <div class="row">
            <div class="col-md-6">
              <b>Hírdető:</b> {{data.user.username}}
            </div>
            <div class="col-md-6">
              <b>Szállítás:</b> {{data.transportModel}}
            </div>
          </div>
          <hr class="show_desktop" />
          <div class="row">
            <div class="col-md-6">
              <b>Mennyiség:</b> {{data.unitNumber}}
            </div>
            <!--<div class="col-md-6">
      <b>Engedmény:</b> {{data.discount}}
    </div>-->
          </div>
          <hr class="show_desktop" />
          <div class="row">
            <div class="col-md-12">
              <b>Leírás:</b> {{data.description}}
            </div>
          </div>
          <hr class="show_desktop" />
          <div class="row">
            <div class="col-md-6">
              <b>Ár:</b> {{data.singlePrice}} Bartek
            </div>
          </div>
          <div class="row" style="justify-content: flex-end;">
            <button style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onSendMessage(data)">Üzenetet küldök</button>
            <button style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onSubmit(data)">Megveszem</button>
          </div>
        </div>

      </div>

      <!--<mat-card-actions align="right">
        <button mat-raised-button class="orange-button" (click)="onSendMessage(data)">Üzenetet küldök</button>
        <button mat-raised-button class="orange-button" (click)="onSubmit(data)">Megveszem</button>
      </mat-card-actions>-->

    </mat-card-content>
  </mat-card>

</div>
