.mat-card {
  border: solid;
  border-width: 2px;
  border-radius: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px 20px 0px 20px;
/*  margin: 10px 10px 10px 10px;*/
}

.mat-card-actions {
  margin: auto 0 0;
}

.image_fit {
    overflow: hidden;
}

.status_background_draft {
  background-color: #ff9900;
  color: white;
}

.status_background_active {
  background-color: #669900;
  color: white;
}

.status_background_inactive {
  background-color: #cc0099;
  color: white;
}

.status_background_sold {
  background-color: none;
  color: black;
}

.status_border_draft {
  border-color: #ff9900;
}

.status_border_active {
  border-color: #669900;
}

.status_border_inactive {
  border-color: #cc0099;
}

.status_border_sold {
  border-color: black;
}

