<h4 class="magenta" style="margin: 0px 0px 0px 0px;">SAJÁT TERMÉKEK</h4>

<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <button mat-icon-button (click)="onNewRecordClick()" class="mat-icon-150-size magenta" matTooltip="Új termék"><mat-icon>add_circle</mat-icon></button>
    </div>

    <span class="fill-remaining-space-small"></span>

    <div class="col-md-12">
      <button mat-icon-button (click)="getFreshRecords()" class="mat-icon-150-size" matTooltip="Frissítés"><mat-icon svgIcon=refresh_icon></mat-icon></button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="row">
  <div *ngFor="let tile of tiles" class="col-md-4" style=" padding: 0 0 0 0;">
    <div class="row" style="margin: 10px 10px 10px 10px;">
      <div class="col-md-12" style="padding: 0 0 0 0;">
        <mat-card [ngClass]="setClassesBorder(tile.statusModel.id)" style="min-height: 280px;">
          <mat-card-content style="line-height: 1;">

            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-12" style="font-size: large;">
                <b>{{tile.name}}</b>
              </div>
            </div>

            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-12">
                <b>{{tile.singlePrice}} bartek</b>
              </div>
            </div>

            <div class="card align-items-center">
              <ul class="list-group list-group-flush" *ngFor="let file of imageFiles">
                <li class="list-group-item" *ngIf="tile.id==file.itemModel.id">
                  <img src="{{APIUrl}}/{{file.imagePath}}" alt=" Nincs elérhető kép" height="120" />
                </li>
              </ul>
            </div>

            <br />

            <mat-card-actions>
              <div class="row" style="    padding-left: 15px;   padding-right: 15px">
                <div class="col-md6" align="center">
                  <div>
                    <h5 [ngClass]="setClasses(tile.statusModel.id)">státusz: {{tile.statusModel.name}}</h5>
                  </div>
                </div>

                <span class="fill-remaining-space"></span>

                <div class="col-md6" align="right">
                  <button *ngIf="tile.statusModel.id<=2" mat-icon-button matTooltip="Szerkeztés" (click)="openDialog(tile)" class="orange">
                    <mat-icon aria-label="Szerkeztés">edit</mat-icon>
                  </button>

                  <button *ngIf="tile.statusModel.id!=1 && tile.statusModel.id<=2" mat-icon-button matTooltip="Aktiválás" (click)="setActive(tile.id)" class="orange">
                    <mat-icon aria-label="Aktiválás">check</mat-icon>
                  </button>

                  <button *ngIf="tile.statusModel.id==1 && tile.statusModel.id<=2" mat-icon-button matTooltip="Deaktiválás" (click)="setInactive(tile.id)" class="orange">
                    <mat-icon aria-label="Deaktiválás">clear</mat-icon>
                  </button>

                  <span class="fill-remaining-space-small"></span>

                  <button *ngIf="tile.statusModel.id<=2" mat-icon-button matTooltip="Törlés" (click)="clickDelete(tile.id)" class="orange">
                    <mat-icon aria-label="Törlés">delete</mat-icon>
                  </button>

                </div>
              </div>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
