<h4 class="magenta">ÜZENETEK</h4>
<mat-toolbar>
  <mat-toolbar-row>
    <div class="col-md-12">
      <button mat-icon-button (click)="getFreshRecords()" class="mat-icon-150-size" matTooltip="Frissítés"><mat-icon svgIcon=refresh_icon></mat-icon></button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="custom-mat-drawer-container">
  <mat-drawer class="message-side-nav" mode="side" opened>
    <mat-list>
      <mat-list-item class="cursor-pointer" [class.orange]="selectedMessageTab === 'Incoming'" (click)="messageHeaderClick('Incoming')"> Bejövő </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="cursor-pointer" [class.orange]="selectedMessageTab === 'Outgoing'" (click)="messageHeaderClick('Outgoing')"> Kimenő </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="cursor-pointer" [class.orange]="selectedMessageTab === 'BuyAndSell'" (click)="messageHeaderClick('BuyAndSell')"> Adásvétel </mat-list-item>
      <ng-container *ngIf="isAdmin">
        <mat-divider></mat-divider>
        <mat-list-item class="cursor-pointer" [class.orange]="selectedMessageTab === 'Admin'" (click)="messageHeaderClick('Admin')"> Admin </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-list *ngIf="selectedMessageTab === 'Incoming'">
      <mat-list-item *ngFor="let msg of msgList">
        <div id="inbox" class="row justify-content-center" style="line-height: 1;">
          <mat-card class="border-weight col-md-11 col-12">
            <mat-card-header>
              <mat-card-title>{{msg.itemModel.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Érdeklődő: {{msg.user.username}}</p>
              <p>Hírdető: {{msg.itemModel.user.username}}</p>
              <p>Üzenet:</p>
              <p><b> {{msg.body}}</b></p>
              <p>Feladás dátuma: {{msg.postedAt | date:"yyyy.MM.dd. hh:mm:ss"}}</p>

              <mat-card-actions align="right">

                <button *ngIf="msg?.isNew==false" class="bt-text-black" mat-raised-button matTooltip="Jelölés Olvasatlanként" (click)="(setStatusNew(msg))">
                  Olvasott
                </button>

                <button *ngIf="msg?.isNew==true" mat-raised-button matTooltip="Jelölés olvasottként" (click)="(setStatusRead(msg))" class="orange">
                  Olvasatlan
                </button>

                <span class="fill-remaining-space-small"></span>
                <button mat-raised-button matTooltip="Válasz" (click)="openDialog(msg)" class="orange">
                  Válaszolok
                </button>

                <span class="fill-remaining-space-small"></span>
                <button mat-icon-button matTooltip="Törlés" (click)="setStatusDeleted(msg)" class="orange">
                  <mat-icon aria-label="Válasz">delete</mat-icon>
                </button>

              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-list-item>
    </mat-list>

    <mat-list *ngIf="selectedMessageTab === 'Outgoing'">

      <mat-list-item  *ngFor="let msg of msgList2">
        <div class="row  justify-content-center" style="line-height: 1;">
          <mat-card class="border-weight col-md-11 col-12">
            <mat-card-header>
              <mat-card-title>{{msg.itemModel.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Érdeklődő: {{msg.user.username}}</p>
              <p>Hírdető: {{msg.itemModel.user.username}}</p>
              <p>Üzenet:</p>
              <p><b> {{msg.body}}</b></p>
              <p>Feladás dátuma: {{msg.postedAt | date:"yyyy.MM.dd. hh:mm:ss"}}</p>

              <mat-card-actions align="right">

                <span class="fill-remaining-space-small"></span>
                <button mat-raised-button matTooltip="Válasz" (click)="openDialog(msg)" class="orange">
                  Válaszolok
                </button>

                <span class="fill-remaining-space-small"></span>
                <button mat-icon-button matTooltip="Törlés" (click)="setStatusDeleted(msg)" class="orange">
                  <mat-icon aria-label="Válasz">delete</mat-icon>
                </button>

              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-list-item>

    </mat-list>

    <mat-list *ngIf="selectedMessageTab === 'BuyAndSell'">

      <mat-list-item *ngFor="let msg of msgList3">
        <div class="row  justify-content-center" style="line-height: 1;">
          <mat-card *ngFor="let msg of msgList3" class="border-weight col-md-11 col-12">
            <mat-card-header>
              <mat-card-title>{{msg.itemModel.name}} ({{msg.itemModel.singlePrice}} Brt)</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Érdeklődő: {{msg.user.username}}</p>
              <p>Hírdető: {{msg.itemModel.user.username}}</p>
              <p>Üzenet:</p>
              <p><b> {{msg.body}}</b></p>

              <p>Feladás dátuma: {{msg.postedAt | date:"yyyy.MM.dd. hh:mm:ss"}}</p>

              <mat-card-actions align="right">

                <button *ngIf="msg.isNew==false" class="bt-text-black" mat-raised-button matTooltip="Jelölés Olvasatlanként" (click)="(setStatusNew(msg))">
                  Olvasott
                </button>

                <button *ngIf="msg.isNew==true" mat-raised-button matTooltip="Jelölés olvasottként" (click)="(setStatusRead(msg))" class="orange">
                  Olvasatlan
                </button>

                <span class="fill-remaining-space-small"></span>
                <button mat-raised-button matTooltip="Válasz" (click)="openDialog(msg)" class="orange">
                  Válaszolok
                </button>

              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-list-item>

    </mat-list>

    <mat-list *ngIf="selectedMessageTab === 'Admin' && isAdmin">
      <div class="row justify-content-center mb-2" style="line-height: 1;">
        <div class="col-12">
          <mat-label><h3>Üzenet*</h3></mat-label>
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" #message type="text" rows="8" cols="55" maxlength="255" placeholder="max. 255 karakter"></textarea>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-2 col-6">
              <button mat-raised-button class="orange-button" (click)="onSendInMail(message.value)">Belső üzenet</button>
            </div>

            <div class="col-md-2 col-6">
              <button mat-raised-button class="orange-button" (click)="onSendEmail(message.value)">Email</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;let index = index">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row, index)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef> Felhasználó </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-list>


  </mat-drawer-content>
</mat-drawer-container>







<!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="Bejövő">
    <div id="inbox" class="row" style="line-height: 1;">
      <mat-card *ngFor="let msg of msgList" class="border-weight col-md-3">
        <mat-card-header>
          <mat-card-title>{{msg.itemModel.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Érdeklődő: {{msg.user.username}}</p>
          <p>Hírdető: {{msg.itemModel.user.username}}</p>
          <p>Üzenet:</p>
          <p><b> {{msg.body}}</b></p>
          <p>Feladás dátuma: {{msg.postedAt | date:"yyyy.MM.dd. hh:mm:ss"}}</p>

          <mat-card-actions align="right">

            <button *ngIf="msg.isNew==false" mat-raised-button matTooltip="Jelölés Olvasatlanként" (click)="(setStatusNew(msg))">
              Olvasott
            </button>

            <button *ngIf="msg.isNew==true" mat-raised-button matTooltip="Jelölés olvasottként" (click)="(setStatusRead(msg))" class="orange">
              Olvasatlan
            </button>

            <span class="fill-remaining-space-small"></span>
            <button mat-raised-button matTooltip="Válasz" (click)="openDialog(msg)" class="orange">
              Válaszolok
            </button>

            <span class="fill-remaining-space-small"></span>
            <button mat-icon-button matTooltip="Törlés" (click)="setStatusDeleted(msg)" class="orange">
              <mat-icon aria-label="Válasz">delete</mat-icon>
            </button>

          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Kimenő">
    <div class="row" style="line-height: 1;">
      <mat-card *ngFor="let msg of msgList2" class="border-weight col-md-3">
        <mat-card-header>
          <mat-card-title>{{msg.itemModel.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Érdeklődő: {{msg.user.username}}</p>
          <p>Hírdető: {{msg.itemModel.user.username}}</p>
          <p>Üzenet:</p>
          <p><b> {{msg.body}}</b></p>
          <p>Feladás dátuma: {{msg.postedAt | date:"yyyy.MM.dd. hh:mm:ss"}}</p>

          <mat-card-actions align="right">

            <span class="fill-remaining-space-small"></span>
            <button mat-raised-button matTooltip="Válasz" (click)="openDialog(msg)" class="orange">
              Válaszolok
            </button>

            <span class="fill-remaining-space-small"></span>
            <button mat-icon-button matTooltip="Törlés" (click)="setStatusDeleted(msg)" class="orange">
              <mat-icon aria-label="Válasz">delete</mat-icon>
            </button>

          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Adásvétel">
    <div class="row" style="line-height: 1;">
      <mat-card *ngFor="let msg of msgList3" class="border-weight col-md-3">
        <mat-card-header>
          <mat-card-title>{{msg.itemModel.name}} ({{msg.itemModel.singlePrice}} Brt)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Érdeklődő: {{msg.user.username}}</p>
          <p>Hírdető: {{msg.itemModel.user.username}}</p>
          <p>Üzenet:</p>
          <p><b> {{msg.body}}</b></p>

          <p>Feladás dátuma: {{msg.postedAt | date:"yyyy.MM.dd. hh:mm:ss"}}</p>

          <mat-card-actions align="right">

            <button *ngIf="msg.isNew==false" mat-raised-button matTooltip="Jelölés Olvasatlanként" (click)="(setStatusNew(msg))">
              Olvasott
            </button>

            <button *ngIf="msg.isNew==true" mat-raised-button matTooltip="Jelölés olvasottként" (click)="(setStatusRead(msg))" class="orange">
              Olvasatlan
            </button>

            <span class="fill-remaining-space-small"></span>
            <button mat-raised-button matTooltip="Válasz" (click)="openDialog(msg)" class="orange">
              Válaszolok
            </button>

          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Admin" *ngIf="isAdmin">
    <div class="row" style="line-height: 1;">
      <div class="col-md-6">
        <br />
        <mat-label><h3>Üzenet*</h3></mat-label>
        <br />
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" #message type="text" rows="8" cols="55" maxlength="255" placeholder="max. 255 karakter"></textarea>
        <br />
        <div class="row" style="justify-content: flex-end;">
          <br />
          <button style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onSendInMail(message.value)">Belső üzenet</button>
          <button style="margin-right: 1rem" mat-raised-button class="orange-button" (click)="onSendEmail(message.value)">Email</button>
        </div>
      </div>
      <div class="col-md-6">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row;let index = index">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row, index)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Felhasználó </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group> -->

