.border-weight {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  color: black;
  margin: 10px, 10px, 10px, 10px !important;
}

.toolbar_icon_border {
  border: 3px solid;
  border-radius: 5px;
}


mat-drawer-container.custom-mat-drawer-container {
  width: 100%;
  height: 500px;
  /* margin: 10px; */
  border: 1px solid #555;
}


mat-drawer.message-side-nav {
  width: 150px;
}

mat-drawer.message-side-nav mat-list mat-list-item {
  padding: 10px 5px;
}

mat-drawer-container.custom-mat-drawer-container mat-drawer-content {
  padding: 10px;
}

