<mat-card>
  <mat-card-content>
    <mat-card-actions>
      <div class="footer_font" *ngIf="isCurrentUser">
        <button mat-button (click)="onImpresumClick()">
          Impresszum
        </button>
        <span class="show_desktop"> • </span>
        <button mat-button (click)="onCopyrightsClick()">
          Szerzői jogok
        </button>
        <span class="show_desktop"> • </span>
        <button mat-button (click)="onTermsofUsageClick()">
          Felhasználási feltetelek
        </button>
        <span class="show_desktop"> • </span>
        <button mat-button (click)="onGdprClick()">
          Adatvédelmi nyilatkozat
        </button>
        <span class="show_desktop"> • </span>
        <button mat-button (click)="onContactUsClick()">
          Írjon nekünk
        </button>
        <span class="show_desktop"> • </span>
        <button mat-button (click)="onFaqClick()">
          Gyakran ismételt kérdések
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
