<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <!--<div class="content"></div>
  <footer class="footer" align="center">
    <app-footer></app-footer>
  </footer>-->

</body>

<footer class="footer" align="center">
  <app-footer></app-footer>
</footer>
