<div class="row" >
  <div *ngFor="let offer of offerList" class="col-md-5 container" style=" padding: 0 0 0 0;">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center" style="margin: 10px 10px 10px 10px;">
      <div style="padding: 0 0 0 0;">
        <mat-card>
          <mat-card-content style="line-height: 1;">
            <div class="row" style="margin-bottom: 5px;">
              <div class="col-md-6" style="font-size: large;">
                <b>{{offer.name}}</b>
              </div>
              <div class="col-md-6">
                <b>{{offer.amount}} bartek</b>
              </div>
            </div>
            <br />
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-6">
                <b>Szállítás: {{offer.transportModel}}</b>
              </div>
              <div class="col-md-6">
                <b>Lokáció: {{offer.locationModel.city}}</b>
              </div>
            </div>
            <br />
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-12">
                <ngx-gallery [options]="galleryOptions" [images]="getGalleryImages(offer.id)">
                </ngx-gallery>
              </div>
            </div>
            <br />
            <mat-card-actions align="center">
              <button *ngIf="offer.offerStatus.id===1" mat-icon-button class="mat-icon-150-size" #tooltip="matTooltip" aria-hidden="false" aria-label="Elfogadott" matTooltip="Elfogadott" matTooltipPosition="after"><mat-icon style="color: forestgreen">check_circle</mat-icon></button>
              <button *ngIf="offer.offerStatus.id===2" mat-icon-button class="mat-icon-150-size" aria-hidden="false" aria-label="Elutasított" matTooltip="Elfogadott"><mat-icon style="color: indianred">thumb_down_alt</mat-icon></button>
              <button *ngIf="offer.offerStatus.id===0 || offer.offerStatus.id===2" mat-raised-button matTooltip="Elfogad" (click)="setOfferAccepted(offer.id)" class="orange">
                Elfogadom
              </button>
              <button *ngIf="offer.offerStatus.id===0 || offer.offerStatus.id===1" mat-raised-button matTooltip="Elutasít" (click)="setOfferRejected(offer.id)" class="orange">
                Elutasítom
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
