<nav>
  <div class="container show_desktop">
    <div class="row">
      <div class="col-md-4">
        <div class="row">

          <!-- Home (Marketplace) -->
          <button *ngIf="isCurrentUser" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" aria-label="Piactér" matTooltip="Piactér" routerLink="/"><mat-icon svgIcon=1_home_magenta_icon></mat-icon></button>

          <!-- Backpack -->
          <button *ngIf="isCurrentUser" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" aria-label="Hátizsákom" matTooltip="Hátizsákom" routerLink="/Backpack/ListItem"><mat-icon svgIcon=2_backpack_black_icon></mat-icon></button>

          <!-- DemandBackpack -->
          <button *ngIf="isCurrentUser" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" aria-label="Kereséseim" matTooltip="Kereséseim" routerLink="/Backpack/DemandList"><mat-icon svgIcon=wanted_icon></mat-icon></button>

          <!-- Invitation -->
          <button *ngIf="isCurrentUser" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" aria-label="Meghívás" matTooltip="Meghívás" routerLink="/invite"><mat-icon svgIcon=5_invitation_black_icon></mat-icon></button>

          <button *ngIf="isChikani" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" (click)="openFooterPopup()">
            <mat-icon>remove_circle</mat-icon>
          </button>

          <div class="pt-2">
            <mat-slide-toggle
              [color]="'accent'"
              [(ngModel)]="isDarkTheme"
              (ngModelChange)="themeToggleChange()"
            >
              {{ isDarkTheme ? 'Light mode' : 'Night mode' }}
            </mat-slide-toggle>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <button mat-icon-button class="cursor-pointer" aria-hidden="false" routerLink="/MarketPlace/color-selector">Moon Circle</button>
            <button mat-icon-button class="cursor-pointer" aria-hidden="false" >Color Picker</button>
          </div>
        </div>
      </div>

      <div class="col-md-4" align="center" style="line-height: 1;">
        <div class="row">

          <div class="col-md-12">
            <mat-icon routerLink="/" style="margin-top: 3rem; transform: scale(5); height: auto; outline: none !important; cursor: pointer;" [svgIcon]="(isDarkTheme ? '7_bmlogo_nightswitch' : 'bm_logo')"></mat-icon>
          </div>
          <div class="col-md-12" style="margin-top: 3rem;">
            <h1 style="margin: 0 0 0 0; font-size: 50px; font-family: 'Fjalla One', sans-serif;">BARTERMESTER</h1>
            <h1 style="margin: 0 0 0 0; font-size: 18px;">online piactér a csereberékhez</h1>
          </div>
        </div>
      </div>

      <div class="col-md-4" align="right">
        <div class="row">
          <div class="col-md-12" style="font-size: large;">
            <!-- Welcome -->
            <span>Helló, </span>
            <span *ngIf="isCurrentUser" class="magenta"> {{userName | async}} </span>
            <!-- Profile -->
            <button mat-icon-button [matMenuTriggerFor]="account" aria-label="Saját Profil">
              <mat-icon class="mat-icon-150-size cursor-pointer" matTooltip="Saját Profil">account_circle</mat-icon>
            </button>
          </div>

          <mat-menu #account="matMenu">
            <button (click)="login()" class="bt-text-black" mat-menu-item [disabled]="isCurrentUser">
              <mat-icon>login</mat-icon>
              <span>Bejelentkezés</span>
            </button>

            <button (click)="logout()" class="bt-text-black" mat-menu-item [disabled]="!isCurrentUser">
              <mat-icon>logout</mat-icon>
              <span>Kijelentkezés</span>
            </button>

            <button (click)="changePassword()" class="bt-text-black" mat-menu-item [disabled]="!isCurrentUser">
              <mat-icon>edit</mat-icon>
              <span>Jelszó csere</span>
            </button>
          </mat-menu>

          <br />
          <div class="col-md-12">
            <!-- Egyenleg -->
            <div style="padding-right: 5px;">
              <button *ngIf="isCurrentUser" mat-raised-button style="font-size: large;" class="background_grey" (click)="onSumDetailsClick()">
                <span class="bt-text-black">EGYENLEGED: </span><span class="magenta"> {{totalSum | number:'1.2-2'}} Brt </span>
              </button>
            </div>
          </div>
          <br />
          <br />
          <br />
          <div class="col-md-12" align="right">
          </div>
          <div class="col-md-12">
            <!-- Messages -->
            <button *ngIf="isCurrentUser" mat-icon-button style="padding-right: 15px;" class="mat-icon-300-size cursor-pointer" aria-hidden="false" aria-label="Üzeneteim" matTooltip="Üzenetek" routerLink="/Backpack/ListMessage"><mat-icon svgIcon=message_icon></mat-icon></button>
            <div *ngIf="msgCount > 0 && isCurrentUser" class="txt"> {{msgCount | number}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row show_mobile">
      <div class="col-md-4" align="center">
        <br />
        <!-- Home (Marketplace) -->
        <button *ngIf="isCurrentUser" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" aria-label="Piactér" matTooltip="Piactér" routerLink="/"><mat-icon svgIcon=home_icon></mat-icon></button>
        <!-- Backpack -->
        <button *ngIf="isCurrentUser" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" aria-label="Hátizsákom" matTooltip="Hátizsákom" routerLink="/Backpack/ListItem"><mat-icon svgIcon=backpack_icon></mat-icon></button>
        <!-- Invitation -->
        <button *ngIf="isCurrentUser" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" aria-label="Meghívás" matTooltip="Meghívás" routerLink="/invite"><mat-icon svgIcon=invite_icon></mat-icon></button>
        <!-- Logo -->
        <mat-icon routerLink="/" style="margin: 0px 20px 0px 20px; transform: scale(2); outline: none !important;" svgIcon=bm_logo></mat-icon>


        <!-- Balance -->
        <button *ngIf="isCurrentUser" mat-icon-button (click)="onSumDetailsClick()" class="mat-icon-150-size cursor-pointer" matTooltip="Egyenleg"><mat-icon svgIcon=balance_icon></mat-icon></button>
        <!-- Messages -->
        <button *ngIf="isCurrentUser" mat-icon-button class="mat-icon-150-size cursor-pointer" aria-hidden="false" aria-label="Üzeneteim" matTooltip="Üzenetek" routerLink="/Backpack/ListMessage"><mat-icon svgIcon=message_icon></mat-icon></button>

        <!-- Profile -->
        <button mat-icon-button [matMenuTriggerFor]="account" aria-label="Saját Profil">
          <mat-icon class="mat-icon-150-size cursor-pointer" matTooltip="Saját Profil">account_circle</mat-icon>
        </button>

        <mat-menu #account="matMenu">
          <button (click)="login()" class="bt-text-black" mat-menu-item [disabled]="isCurrentUser">
            <mat-icon>login</mat-icon>
            <span>Bejelentkezés</span>
          </button>

          <button (click)="logout()" class="bt-text-black" mat-menu-item [disabled]="!isCurrentUser">
            <mat-icon>logout</mat-icon>
            <span>Kijelentkezés</span>
          </button>

          <button (click)="changePassword()" class="bt-text-black" mat-menu-item [disabled]="!isCurrentUser">
            <mat-icon>edit</mat-icon>
            <span>Jelszó csere</span>
          </button>
        </mat-menu>
      </div>
    </div>
</nav>
