.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto !important;
}

.icon {
/*  width: 30px;
  height: 30px;*/
/*  position: relative;*/
}

.txt {
  background-color: #cc0099;
  color: white;
  font-size: large;
  position: absolute;
  padding: 5px 13px 5px 13px;
  top: -20px;
  right: 20px;
  border-radius: 25px;
}
